{% extends "/template/OrderBase.html" %}

{% block customJS %}
<script type="text/javascript">
    j$(document).ready(function(){
		j$(document).on('mouseenter','.pin-in-focus .image-house',function(){
			j$(this).find('.pin-command-center').fadeIn({duration:400});
		}).on('mouseleave','.pin-in-focus .image-house',function(){
			j$(this).find('.pin-command-center').fadeOut({duration:400});
		});
		
	    // fill order shortcut    
    	j$(document).on('click','button[item="btn-new-buyorder-fill"]',function(){
	    	var id=j$(this).attr('itemId');
	    	var price=j$(this).prev('input').val();
	    	var qty=j$(this).prev('input').prev('input').val();
	    	j$.post(
	    		'/buyorder/browse',
	    		{'id':id,'price':price,'qty':qty},
	    		function(result){
	    			j$().toastmessage('showSuccessToast','Your shopping cart has been updated.');
					var data=[];
					var fills=j$.parseJSON(result)['fills'];
					
					var total_payable=0;
					for (var i=0; i<fills.length; i++){
						var f=fills[i];
						data.push([f['order']['name'],f['qty'],f['price']]);
						total_payable+=parseInt(f['qty'])*parseFloat(f['price']);
					}
					// redraw cart table
					var oTable=j$('#this-cart').dataTable();
					oTable.fnClearTable();
					oTable.fnAddData(data);
					oTable.fnDraw();
					//oTable.fnAdjustColumnSizing();
					
					// update total item count
					j$('#cart-item-count').html(fills.length);
					
					// update total payable
					j$('#this-cart-total').html(total_payable);
					
					// refresh filter to limit list to relevant items
					// this is to enforce the buyer-seller pair rule
					buyer=fills[0].order.owner.name;
					var match=[];
					j$('.product-list-item-footer-user a').each(function(index,item){
						if (j$(item).html()!=buyer) match.push(item);
					});
					
					for (var i=0;i<match.length;i++){
						j$(match[i]).parents('div.pin').remove();
					}
	    		}	
		    );
	    });
	    
	    // two ways to search
	    // 1. click the Search button
	    // 2. or hit ENTER key inside input box to cause a change
	    j$('#btn-filter-pinterest-list').click(function(){
	    	var term=j$(this).siblings('input:first').val();
	    });
	    
	    j$('#input-pinterest-filter').on('change',function(){
    		j$('a#link-pinterest-filter').attr('href','{{url}}?nd='+j$(this).val());
	    });
	    
	    // hot tag search, clicking on a tag will fire a search
	    j$('ul#pinterest-filters li').on('click',function(){
	    	var term=j$(this).text();
	    	j$('#btn-filter-pinterest-list').siblings('input:first').val(term);
    		getBuyOrderList(term);	    	
	    });
	    
	    // shopping cart animation
	    j$('#shopping-cart-collapse-switch').on('click',function(){
	    	j$('#shopping-cart').slideToggle(600,function(){
	    		j$('#shopping-cart-visible-switch').fadeIn(400);
	    	});
	    	
	    });
	    j$('#shopping-cart-visible-switch').on('click',function(){
	    	j$(this).hide();
	    	j$('#shopping-cart').slideToggle({'duration':400,'easing':'easeOutBounce'});
	    });

		// cart table
		var data=[];
		{% for f in cart.fills %}
			data.push(["{{f.order.get().name|title}}",{{f.qty}},{{f.price}}]);
		{% endfor %}
		j$('#this-cart').dataTable({
			"aaData":data,
		    "aoColumns":[
		    	{ "sTitle": "Product"},
		    	{ "sTitle": "Quantity"},
		    	{ "sTitle": "Price"}
		    	],
			//"sScrollY": "400px",
			"sDom": "frtiS",
			"bFilter":false,
			"bPaginate":false,
			"bInfo":false,
			"bDeferRender": true
		});
		
		// overlay
		j$('div.overlay').click(function(e){
			var pos=j$('div.pin-in-focus').offset();
			var width=j$('div.pin-in-focus').outerWidth();
			var height=j$('div.pin-in-focus').outerHeight();
			var out=false;
			if ((e.pageX<pos.left) || (e.pageX>(pos.left+width))){
				out=true;
			}
			if ((e.pageY<pos.top) || (e.pageY>(pos.top+height))){
				out=true;
			}
			if (out==true){
				j$(this).fadeOut(200);
			}
		});
		
		// click on a PIN will bring its in-focus
		j$(document).on('click','div.pin',function(){
			var id=j$(this).attr('itemId');
			var owner_id=j$(this).attr('ownerId');
			var title=j$(this).find('h3[item="title"]').html();
			var subtitle=j$(this).find('div[item="subtitle"]').html();
			var img=j$(this).find('img').attr('src');			
			var qty=j$(this).find('span[item="qty"]').html();
			var price=j$(this).find('span[item="price"]').html();
			var owner=j$(this).find('.product-list-item-footer-user').attr('name');
			var postTime=j$(this).attr('postTime');
			
			j$('#infocus-title').html(owner);
			j$('#infocus-subtitle').html(postTime);
			j$('#infocus-image').attr('src',img);
			j$('#infocus-qty').val(qty);
			j$('#infocus-price').val(price);
			j$('#infocus-product-name').html(title);
			j$('#infocus-product-description').html(subtitle);
			j$('div.overlay').fadeIn(300);
			j$('button[item="btn-new-buyorder-fill"]').attr('itemId',id);
			
			// get buyorders posted by this author
			j$.post(
				'/buyorder/owner/'+owner_id+'/',
				'',
				function(result){
					var data=j$.parseJSON(result);
					
					var html='<ul>';
					for (var i=0; i<data.length;i++){
						if (i<10){
							// limit to 10
							var tt=j$.parseJSON(data[i]);
							html+='<li><img src="'+tt['image']+'" /></li>';
						}
					}
					html+='</ul>';
					j$('#my-list-of-buyorder').html(html);
				}
			);
		});

		// level 1 navigation
		j$('#nav-order').addClass('level-1-navigation-selected');
				
		// level 2 navigation
		j$('.level-2-navigation').show();
		j$('#nav-buyorder-browse').addClass('level-2-navigation-selected');
    });    	
</script>
{% endblock %}

{% block main %}
	{#
	<h1>
	{% if me %}
		Welcome, {{ me.nickname }}! (<a href="{{url_logout}}">Logout</a>)
	{% else %}
		<a href="{{url_login}}">Sign in or register</a>
	{% endif %}
	</h1>
	#}
	
	<h1 class="ariel-blue">Browse and Shop</h1>
	<p class="ariel-blue ariel-p">
	Browse or use the search box to find products people are looking to buy, and add product to your shopping cart if you want sell to the buyer.
	</p>
	<br />

	<div class="searchbox">
	<input type="text" placeholder="Enter a keyword" id="input-pinterest-filter" title="Search is case insensitive. Multiple terms are delimited by comma."/>
	<a id="link-pinterest-filter" href="" class="ariel-button">Search</a>
    <ul id="pinterest-filters">
    	{% for item in hotTags %}
    		<li>{!item}</li>
    	{% endfor %}																
    </ul>
    </div>
    
    <div id="shopping-cart-container">
	<div id="shopping-cart" class="alpha60" style="display:none;">
		<span id="shopping-cart-collapse-switch" title="Click to collapse cart view" style="text-decoration:underline;float:right;">
			Close
		</span>	
		<table id="this-cart" class="ariel-table">
		</table>
		
		<div style="float:right;">
			<label class="">Total</label>
			<span class="border-top-red" id="this-cart-total">
				{{ cart.payable }}
			</span>
			
			<br />
			<a href="{{ url_cart_review }}?cart={{ cart.key.id() }}">
				<span class="my-button" style="background-color:#000;">Review order</spa>
			</a>
		</div>
		 
	</div>
	<div id="shopping-cart-visible-switch">Cart Items &nbsp;
	<span id="cart-item-count">{{ cart.fills|length }}</span>
	</div>    
	</div>
	
    <div id="unfilledOrderPinterest" class="css3-columns">
    {% for b in buyorders %}
		<div class="pin shadow" itemId="{{ b.order.key.id() }}" ownerId="{{ b.order.owner.id() }}" postTime="{{ b.order.created_time }}">
		
		<img src="{{ b.order.image }}" />

		<h3 item="title">{{ b.order.name|title }}</h3>			
		<div item="subtitle">{{ b.order.description }}</div>			
		<p>
			<span class="product-stat" item="qty">{{ b.order.qty }}</span>
			<span class="product-stat-label">qty</span>
			
			<span class="product-stat" item="price">{{ b.order.price }}</span>
			<span class="product-stat-label">$</span>
			
			<span class="product-stat-by-me shadow">
				<a href="/buyorder/owner/{{b.order.owner.id()}}/">
					<p class="product-list-item-footer-user" name="{{b.order.owner.get().nickname}}">{{ b.order.owner.get().nickname }}</p>
				</a>
			</span>
		</p>
		</div>
    {% endfor %}
    </div>
    
    <div class="overlay" style="display:none;">
    	<div class="pin-in-focus box-shadow">
    		<div class="border-bottom">
    			<h1 id="infocus-title">ah.banana.slug@gmail.com</h1>
    			<h4>Posted On <span id="infocus-subtitle"></span><h4>
    		</div>
    		<div class="image-house">
				<div class="pin-command-center" style="display:none;">
  				<input item="qty" type="number" id="infocus-qty" value="" /> x $
  				<input item="price" type="number" id="infocus-price" value="" />
				<button item="btn-new-buyorder-fill" itemId="" class="ariel-button">Add to cart</button>
				</div> 
				
    			<a id="infocus-image-link" href="">
    			<img id="infocus-image" src="" />
    			</a>
    		</div>
    		<div class="border-bottom">
    			<h4 id="infocus-product-name">iPad</h4>
    			<div id="infocus-product-description">sljdfldsj</div>
    		</div>
    		<div class="list-of-photo">
    			<h4>Similar Posts</h4>
    			<blockquote>
    				<div id="my-list-of-buyorder"></div>
    			</blockquote>
    		</div>
    	</div>
    </div>
{% endblock %}
