{% extends "/template/base.html" %}

{% block customJS %}
<script type="text/javascript">
    var j$ = jQuery.noConflict();
    
    // get unfilled order list
    function getBuyOrderList(filterString){
		j$.post('/buyorder/list',
			{'filter':filterString},
			function(resp){
				var result=j$.parseJSON(resp);
				var html='';
				for (var i=0;i<result.length;i++){
					var order=result[i];
					var id=order['id'];
				
					// compose the action div
					html+='<div class="pin shadow">';
					
					// add a command center
					html+='<div class="pin-command-center" style="display:none;">';
  					html+='<input item="qty" type="number" value="1" /> x $';
  					html+='<input item="price" type="number" value="'+order['price']+'" />';
  					
					html+='<button item="button-new-buyorder-fill" item-id="'+id+'">Fill</button>';
					html+='</div>';+' &hearts;'
					html+='<a href="">';			
					html+='<img src="'+order['image']+'"/>';
					html+='</a>';
					html+='<p>'+order['name']+'</p>';
					html+='<p><span class="product-stat">'+order['qty']+'</span><span class="product-stat-label">qty</span>';
					html+='<span class="product-stat">'+order['price']+'</span><span class="product-stat-label">$</span>';
					html+='<a href="">';															
					if (order['filled by me']!= undefined){				
						html +='<span class="product-stat-by-me redheart shadow">';	
					}else{
						html +='<span class="product-stat-by-me redheart shadow" style="display:none;">';	
					}
					html+=order['filled by me']+' &hearts;';
					html+='</span>';
					html+='</a>';					
					html+='</p>';
					
					html+='<p class="product-list-item-footer-user">'+order['owner']['name']+'</p>';
					html+='</div>';
				}
				j$('#unfilledOrderPinterest').html(html);
				
				// update filter tags
				if (filterString!=undefined && filterString.length>0){
					// check if the keywork already on the list
					var found=false;
					var current=j$('ul#pinterest-filters li');
					for (var c=0; c<current.length;c++){
						if (j$(current[c]).text()==filterString){
							found=true;
							break;
						}
					}
					if (found==false){
						j$('ul#pinterest-filters').prepend('<li>'+filterString+'</li>').children('li:last').remove();
					}
				}			
			}		
		);	
	}

    j$(document).ready(function(){
    	    	
		j$(document).on('mouseenter','.pin',function(){
			j$(this).children('.pin-command-center').fadeIn({duration:800});
		}).on('mouseleave','.pin',function(){
			j$(this).children('.pin-command-center').fadeOut({duration:1000});
		});
		
	    // fill order shortcut    
    	j$(document).on('click','button[item="button-new-buyorder-fill"]',function(){
	    	var id=j$(this).attr('itemID');
	    	var price=j$(this).prev('input').val();
	    	var qty=j$(this).prev('input').prev('input').val();
	    	j$.post(
	    		'/buyorder/browse',
	    		{'id':id,'price':price,'qty':qty},
	    		function(result){
	    			j$().toastmessage('showSuccessToast','Your shopping cart has been updated.');
	    		}	
		    );
	    });
	    
	    // two ways to search
	    // 1. click the Search button
	    // 2. or hit ENTER key inside input box to cause a change
	    j$('#btn-filter-pinterest-list').click(function(){
	    	var term=j$(this).siblings('input:first').val();
	    });
	    
	    j$('#input-pinterest-filter').on('change',function(){
    		j$('a#link-pinterest-filter').attr('href','{{url}}?nd='+j$(this).val());
	    });
	    
	    // hot tag search, clicking on a tag will fire a search
	    j$('ul#pinterest-filters li').on('click',function(){
	    	var term=j$(this).text();
	    	j$('#btn-filter-pinterest-list').siblings('input:first').val(term);
    		getBuyOrderList(term);	    	
	    });
	    
	    // shopping cart animation
	    j$('#shopping-cart-collapse-switch').on('click',function(){
	    	j$('#shopping-cart').slideToggle(600,function(){
	    		j$('#shopping-cart-visible-switch').fadeIn(400);
	    	});
	    	
	    });
	    j$('#shopping-cart-visible-switch').on('click',function(){
	    	j$(this).hide();
	    	j$('#shopping-cart').slideToggle(600);
	    });
	    
    });    	
</script>
{% endblock %}

{% block header %}
	{% if user %}
		<div id="cssmenu">
			<ul>
			
			</ul>
		</div>
	{% endif %}
{% endblock %}

{% block main %}
	<h1>
	{% if user %}
		Welcome, {{ user.nickname }}! (<a href="{{url_logout}}">Logout</a>)
	{% else %}
		<a href="{{url_login}}">Sign in or register</a>
	{% endif %}
	</h1>

	<div class="searchbox">
	<input type="text" placeholder="Enter keywords here or Click a tag below" id="input-pinterest-filter" title="Search is case insensitive. Multiple terms are delimited by comma."/>
	<a id="link-pinterest-filter" href="" class="ariel-button">Search</a>
    <ul id="pinterest-filters">
    	{% for item in hotTags %}
    		<li>{!item}</li>
    	{% endfor %}																
    </ul>
    </div>
    
    <div id="shopping-cart-container" style="display:none;">
	<div id="shopping-cart" class="alpha60" style="display:none;">
		<span id="shopping-cart-collapse-switch" title="Click to collapse cart view" style="text-decoration:underline;float:right;">
			Close
		</span>	
		<table id="this-cart">
		<thead>
		<tr>
			<td>Buy Order</td><td>Quantity</td><td>Price</td>
		</tr>
		</thead>
		
		<tbody>
		{% for f in fills %}
		<tr>
			<td>{{ f.name }}</td>
			<td>{{ f.qty }}</td>
			<td>{{ f.price }}</td>
		</tr>
		{% endfor %}
		</tbody>
		</table>
		
		<a href=""><button>Review order</button></a>
		<label>Total</label><span class="border-top-red" id="this-cart-total">
		{{ total_payable }}
		</span> 

	</div>
	<div id="shopping-cart-visible-switch">Cart Items &nbsp;
	<span id="cart-item-count">{{ fills|length }}</span>
	</div>    
	</div>
	
    <div id="unfilledOrderPinterest" class="css3-columns">
    {% for b in buyorders %}
		<div class="pin shadow">
		
		<div class="pin-command-center" style="display:none;">
  		<input item="qty" type="number" value="1" /> x $
  		<input item="price" type="number" value="{{ b.order.price }}" />
		<button item="button-new-buyorder-fill" itemID="{{ b.order.key.id() }}">Fill</button>
		</div>
		<img src="{{ b.order.image }}" />
		<h3>{{ b.order.name }}</h3>			
		<p>{{ b.order.description }}</p>			
		<p>
			<span class="product-stat">{{ b.order.qty }}</span>
			<span class="product-stat-label">qty</span>
			
			<span class="product-stat">{{ b.order.price }}</span>
			<span class="product-stat-label">$</span>
			
			<span class="product-stat-by-me redheart shadow">
			&hearts;
			</span>
		</p>
		<a href="{{url}}?owner={{b.order.owner.id()}}">
		<p class="product-list-item-footer-user">{{ 
		b.order.owner.get().nickname }}</p>
		</a>
		</div>
    {% endfor %}
    </div>
{% endblock %}
