{% extends "/template/OrderBase.html" %}

{% block customJS %}
	<script type="text/javascript">
		j$(document).ready(function(){
			// show level 2 navigation pane
			j$('.level-2-navigation').show();
			j$('#nav-buyorder-owner').addClass('level-2-navigation-selected');
		});
	</script>
{% endblock %}

{% block main %}
	{% if owner %}
	<div class="border-bottom">
    	<h1 class="ariel-blue">Categories</h1>
        <p class="ariel-blue ariel-p">
        Browse orders grouped by categories and click on a category tag below as navigation shortcut.
        </p>

		<ul class="tags">
		{% for k in cats %}
			<li><a href="#tab-{{ loop.index }}">{{ k|title }}</a></li>			
		{% endfor %}
		<ul>
	</div>
	
	<div class="list-of-category-section">
		{% for item in orders|dictsort %}
			<h3>{{ item[0]|title }}</h3>
			<div id="tab-{{ loop.index }}">
				<a href="/buyorder/owner/{{ owner.id() }}/{{ item[0] }}/">
				{% for v in item[1] %}
					<img src="{{ v['image'] }}" width="100px" height="100px"/>
				{% endfor %}
				</a>
			</div>
		{% endfor %}
	
	{% else %}
		<!-- placeholder: import a NO-FOUND page -->
		Sorry I found noting.
	{% endif %}
	</div>
	
{% endblock %}
