{% extends "/template/CartBase.html" %}

{% block customJS %}
<script type="text/javascript">
    j$(document).ready(function(){	
    	j$('#nav-cart').addClass('level-1-navigation-selected');

		j$('.level-2-navigation').show();
		j$('#nav-cart-as-buyer').addClass('level-2-navigation-selected');
		
		// approval process
		j$(document).on('click','button[item="approval-process"]',function(){
			var action=j$(this).html();
			var cart_id=j$(this).attr('cartId');			
			var owner_id=j$(this).attr('ownerId');			
			j$.post(
				'/cart/approve/'+owner_id+'/'+cart_id+'/',
				{'action':action},
				function(result){
					j$().toastmessage('showNoticeToast','Cart status has been updated');
					
					// back to previous page
					//setTimeout(function() {  
					//	window.location.reload();
						//window.history.go(-1);
					//}, 3000)
					
				}
			);			
		});	
		
		// sophisticated shipping process
		j$(document).on('click','button[item="shipping-process"]',function(){
			var action=j$(this).html();
			var cart_id=j$(this).attr('cartId');			
			var owner_id=j$(this).attr('ownerId');				
			var data={'action':action};
			
			// data validation
			switch(action){
				// set to in route
				case 'In Route':
	    			var shipping_date=j$.trim(j$('input[name="shipping-date"]').val());
					if (shipping_date==''){
						j$().toastmessage('showErrorToast','Shipping date is required');
						return;
					}else{
						data['shipping date']=shipping_date;
					}
					break;
					
				// set to delivery confirmed	
				case 'Delivery Confirmed':
				case 'Destination Reconciled':
					break;
					
				case 'Dispute Shipping':
					data['action']='In Dispute';
					break;
				
			} // end of switch

			j$.post(
				'/cart/shipping/process/'+owner_id+'/'+cart_id+'/',
				data,
				function(result){
					switch(action){
						case 'In Route':
							j$().toastmessage('showSuccessToast','Shipping is set to In Route on '+shipping_date);
							break;
						case 'Delivery Confirmed':
							j$().toastmessage('showSuccessToast','Shipping delivery has been confirmed');
							break;
						case 'Destination Reconciled':
							j$().toastmessage('showSuccessToast','Shipping has been reconciled by receiver');
							break;
						case 'In Dispute':
							j$().toastmessage('showSuccessToast','Shipping has been put in dispute');
							break;
					}
					
					// reload this page
					//setTimeout(function() {  
					//	window.location.reload();
					//}, 3000)
				}
			);	
		});			
		
		j$('#broker-carts').dataTable({
			"sPaginationType": "full_numbers"
		});
    });
    
</script>  
{% endblock %}

{% block main %}
	<h1 class="ariel-blue">Buying Carts</h1>
	<p class="ariel-blue ariel-p">
		As a buyer, you need to review these carts for approval if you agree with the seller's proposing price and quantity. Once the cart has been 
		approved, you can continue to monitor and guide these carts throughout their life cycle.
	</p>

<table class="pretty" border="0" cellpadding="0" cellspacing="0"  id="broker-carts">
	<thead>
		<tr><td></td></tr>
	</thead>
	<tbody>
		{% for c in broker_carts %}
			<tr>
				<td style="text-align:left;padding:10px;">
					<a href="{{ review_url }}?cart={{ c.key.id() }}&owner={{ c.owner.id() }}">
						<h4>
						Cart# {{ c.key.id() }}
						<span class="redheart" style="float:right;">
						{{ c.status }}
						</span>
						</h4>
					</a>
					Posted on {{ c.created_time }}
					
					<table class="sf-table" style="margin-top:10px;margin-bottom:10px;">
						<tr><td>For Client</td>
							<td>
								{% if c.terminal_buyer %}
									{{ c.terminal_buyer.get().nickname }}
								{% endif %}
							</td>
							<td>Seller</td>
							<td>
								{{ c.terminal_seller.get().nickname }}
							</td>
						</tr>								
						<tr><td>Payable</td>
							<td>{{ c.payable }}</td>
							<td>Receivable</td>
							<td>{{ c.receivable }}</td>
						</tr>
						
						{% if c.shipping_status %}
						<tr><td>Shipping Status</td>
							<td>{{ c.shipping_status }}</td>
							<td>Shipping Label</td>
							<td>
								{% if c.shipping_label %}
								<a href="/blob/serve/{{ c.shipping_label }}/">
									Download
								</a>
								{% else %}
									Not Available
								{% endif %}
							</td>
						</tr>
						{% endif %}
					</table>
					
					{% if c.fills|length > 0 %}
					<div class="list-of-photo">
						<ul>
						{% for f in c.fills %}
							<li>
							<a href="/buyorder/browse/{{ f.order.id() }}/">
								<img src="{{ f.order.get().image }}" width="60px" height="60px"/>
							</a>
							</li>
						{% endfor %}
						</ul>
					</div>
					
					<!-- command buttons -->
					<div>
						<!-- approval buttons -->
						{% if c.can_enter_approval(me.key) %}
							<button class="my-button" item="approval-process" ownerId="{{ c.owner.id() }}" cartId="{{ c.key.id() }}">Submit for Approval</button>
						{% endif %}
			
						{% if c.can_approve(me.key) %}
							<button class="my-button" item="approval-process" ownerId="{{ c.owner.id() }}" cartId="{{ c.key.id() }}">Approve</button>
							<button class="my-button" item="approval-process" ownerId="{{ c.owner.id() }}" cartId="{{ c.key.id() }}">Reject</button>
						{% endif %}
			
						<!-- shipping status buttons -->
						{% if c.can_enter_shipping_in_route(me.key) %}
						<div class="my-button">
							<button item="shipping-process" ownerId="{{ c.owner.id() }}" cartId="{{ c.key.id() }}">In Route</button> 
							Shipping Date: <input type="date" name="shipping-date" id="input-shipping-date"/>
						</div>
						{% endif %}
			
						{% if c.can_confirm_shipping_delivery(me.key) %}
							<button class="my-button" item="shipping-process" ownerId="{{ c.owner.id() }}" cartId="{{ c.key.id() }}">Delivery Confirmed</button>							
						{% endif %}
			
						{% if c.can_reconcile_destination(me.key) %}
							<button class="my-button" item="shipping-process" ownerId="{{ c.owner.id() }}" cartId="{{ c.key.id() }}">Destination Reconciled</button>			
						{% endif %}
			
						{% if c.can_dispute_shipping(me.key) %}
							<button class="my-button" item="shipping-process" ownerId="{{ c.owner.id() }}" cartId="{{ c.key.id() }}">Dispute Shipping</button>			
						{% endif %}
					</div>
					
					{% else %}
					{% endif %}

				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
