{% extends "/template/base.html" %}

{% block customJS %}
<script type="text/javascript">
    j$(document).ready(function(){	
    
    	j$('#nav-order').addClass('level-1-navigation-selected');
		j$('.level-2-navigation').show();
		j$('#nav-cart-manage').addClass('level-2-navigation-selected');
    });
    
</script>  
{% endblock %}

{% block main %}
	<div class="border-bottom">
	<h1 class="ariel-blue">Manage Carts</h1>
	<p class="ariel-blue ariel-p">
		You can review and manage shopping orders that have been placed by you (as a seller) and ones that need your approval (as a buyer).
	</p>
	</div>
	
<div class="quick-pane">
<h3>My Shopping Carts</h3>
<table class="table-row-border" id="table-carts">
	<thead><tr>	<td></td>
				<td>Cart Number</td>
				<td>For Client</td>
				<td>Seller</td>
				<td>Posting Buyer</td>
				<td>Status</td>
				<td>Shipping</td>
			</tr>
	</thead>
	<tbody>
		{% for c in carts %}
			<tr><td> Edit | Del</td>
				<td>
					<a href="{{ review_url }}?cart={{ c.key.id() }}">
						Cart# {{ c.key.id() }}
					</a>
				</td>
				<td>
					{% if c.terminal_buyer %}
						{{ c.terminal_buyer.get().nickname }}
					{% endif %}
				</td>
				<td>{{ c.terminal_seller.get().nickname }}</td>
				<td>
					{% if c.broker %}
						{{ c.broker.get().nickname }}
					{% endif %}
				</td>
				<td>{{ c.status }}</td>
				<td>{{ c.shipping_status }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
