{% extends "/template/OrderBase.html" %}

{% block customJS %}
<script type="text/javascript">
    j$(document).ready(function(){	
    	j$('#nav-order').addClass('level-1-navigation-selected');
		j$('.level-2-navigation').show();
		j$('#nav-cart-manage').addClass('level-2-navigation-selected');

        // approval process
		j$(document).on('click','button[item="approval-process"]',function(){
			var action=j$(this).html();
			var cartId=j$(this).attr('itemId');
			j$.post(
				'/cart/review?cart='+cartId,
				{'cart':cartId,'action':action,'kind':'BuyOrderCart','id':'12345'}, // id is not used in this POST, so anything
				function(result){
					j$().toastmessage('showNoticeToast','Cart status has been updated');
					
					// force a refresh!
					window.location.href = "/cart/manage";
				}
			);          
		});
		
		j$('#table-carts').dataTable({
			"sPaginationType": "full_numbers"
		});
    });
    
</script>  
{% endblock %}

{% block main %}
	<h1 class="ariel-blue">Manage Approvals</h1>
	<p class="ariel-blue ariel-p">
		You can review and manage shopping orders that have been placed by you (as a seller) and ones that need your approval (as a buyer). Use the 
		links to get details of a cart to assist your decision. May the force be with you.
	</p>

<table class="pretty" border="0" cellpadding="0" cellspacing="0"  id="table-carts">
	<thead>
		<tr><td></td></tr>
	</thead>
	<tbody>
		{% for c in my_carts %}
			<tr>
				<td style="text-align:left;padding:10px;">
					<a href="{{ review_url }}?cart={{ c.key.id() }}">
						<h4>
						Cart# {{ c.key.id() }}
						<span class="redheart" style="float:right;">
						{{ c.status }}
						</span>
						</h4>
					</a>
					Posted on {{ c.created_time }}
					
					<table class="sf-table" style="margin-top:10px;margin-bottom:10px;">
						<tr><td>For Client</td>
							<td>
								{% if c.terminal_buyer %}
									{{ c.terminal_buyer.get().nickname }}
								{% endif %}
							</td>
							<td>Posting Buyer</td>
							<td>
								{% if c.broker %}
									{{ c.broker.get().nickname }}
								{% endif %}
							</td>
						</tr>								
						<tr><td>Payable</td>
							<td>{{ c.payable }}</td>
							<td>Receivable</td>
							<td>{{ c.receivable }}</td>
						</tr>
						<tr></tr>
					</table>
					
					{% if c.fills|length > 0 %}
					<div>
						{% for f in c.fills %}
							<img src="{{ f.order.get().image }}" width="60px" height="60px"/>
						{% endfor %}
					</div>
					
					<div>
						{% if c.status=='Open' and me.can_be_doc() %}
							<button class="my-button" item="approval-process" itemId="{{ c.key.id() }}">Submit for Approval</button>
						{% elif c.status=='Rejected' and me.can_be_doc() %}
							<button class="my-button" item="approval-process" itemId="{{ c.key.id() }}">Submit for Approval</button>
						{% elif c.status=='In Approval' and me.can_be_doc() %}
							<button class="my-button" item="approval-process" itemId="{{ c.key.id() }}">Approve</button>
							<button class="my-button" item="approval-process" itemId="{{ c.key.id() }}">Reject</button>
						{% elif c.status=='Rejected' and me.can_be_doc() %}
							<button class="my-button" item="approval-process" itemId="{{ c.key.id() }}">Approve</button>
						{% endif %}
					</div>
					{% else %}
					{% endif %}
					
					{% if c.shipping_status %}
						{{ c.shipping_status }}
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
