{% extends "/template/OrderBase.html" %}

{% block customJS %}
<script type="text/javascript">
    j$(document).ready(function(){	
		j$('.level-2-navigation').show();
		j$('#nav-cart-manage').addClass('level-2-navigation-selected');

        // approval process
		j$(document).on('click','button[item="approval-process"]',function(){
			var action=j$(this).html();
			var cartId=j$(this).attr('itemId');
			j$.post(
				'/cart/review?cart='+cartId,
				{'cart':cartId,'action':action,'kind':'BuyOrderCart','id':'12345'}, // id is not used in this POST, so anything
				function(result){
					j$().toastmessage('showNoticeToast','Cart status has been updated');
					
					// force a refresh!
					window.location.href = "/cart/manage";
				}
			);          
		});
		
		
    });
    
</script>  
{% endblock %}

{% block main %}
	<h1 class="ariel-blue">Manage Carts</h1>
	<p class="ariel-blue ariel-p">
		You can review and manage shopping orders that have been placed by you (as a seller) and ones that need your approval (as a buyer).
	</p>

<table class="table-row-border" id="table-carts">
	<thead><tr>	
				<td>Cart Number</td>
				<td>For Client</td>
				<td>Seller</td>
				<td>Posting Buyer</td>
				<td>Status</td>
				<td>Shipping</td>
			</tr>
	</thead>
	<tbody>
		{% for c in my_carts %}
			<tr>
				<td>
					<a href="{{ review_url }}?cart={{ c.key.id() }}">
						Cart# {{ c.key.id() }}
					</a>
					
					{% if c.fills|length > 0 %}
					<div>
						{% if c.status=='Open' and me.can_be_doc() %}
							<button class="my-button" item="approval-process" itemId="{{ c.key.id() }}">Submit for Approval</button>
						{% elif c.status=='Rejected' and me.can_be_doc() %}
							<button class="my-button" item="approval-process" itemId="{{ c.key.id() }}">Submit for Approval</button>
						{% elif c.status=='In Approval' and me.can_be_doc() %}
							<button class="my-button" item="approval-process" itemId="{{ c.key.id() }}">Approve</button>
							<button class="my-button" item="approval-process" itemId="{{ c.key.id() }}">Reject</button>
						{% elif c.status=='Rejected' and me.can_be_doc() %}
							<button class="my-button" item="approval-process" itemId="{{ c.key.id() }}">Approve</button>
						{% endif %}
					</div>
					{% else %}
					{% endif %}                                        					
				</td>
				<td>
					{% if c.terminal_buyer %}
						{{ c.terminal_buyer.get().nickname }}
					{% endif %}
				</td>
				<td>{{ c.terminal_seller.get().nickname }}</td>
				<td>
					{% if c.broker %}
						{{ c.broker.get().nickname }}
					{% endif %}
				</td>
				<td>{{ c.status }}</td>
				<td>{{ c.shipping_status }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
