{% extends "/template/UserBase.html" %}

{% block customJS %}
<script type="text/javascript">
	j$(document).ready(function(){
		// overlay
		j$('div.overlay').click(function(e){
			var pos=j$('div.pin-in-focus').offset();
			var width=j$('div.pin-in-focus').outerWidth();
			var height=j$('div.pin-in-focus').outerHeight();
			var out=false;
			if ((e.pageX<pos.left) || (e.pageX>(pos.left+width))){
				out=true;
			}
			if ((e.pageY<pos.top) || (e.pageY>(pos.top+height))){
				out=true;
			}
			
			// NOTE: click on SELECT will not close overlay
			if (out==true && !j$(e.target).is('select')){
				j$(this).fadeOut(200);
			}
		});
		
		// membership start date always default to today!
		var d=new Date();
		j$('span[item="membership-start-date"]').html(j$.datepicker.formatDate('yy-mm-dd', d));
		
		j$('#show-new-membership').click(function(){
			j$('select[item="membership-role"]').show();
			j$('span[item="membership-role"]').hide();
			j$('#btn-renew-membership').hide();
			j$('#btn-save-new-membership').show();
			j$('#div-new-membership').show();
		});
		
		// this is a manual solution for now before we implement PayPal callback
		j$('#btn-save-new-membership').click(function(){
			data=[];
			j$.each(j$('#table-new-membership tbody tr'),function(index,val){
				var role=j$(val).find('select[item="membership-role"]').val();
				var startDate=j$(val).find('span[item="membership-start-date"]').html();
				data.push({'role':role,'start date':startDate});		
			});
			
			j$.post(
				'/user/membership/new',
				JSON.stringify(data), // this is important!
				function(result){
					switch(result){
						case '-1':
							j$().toastmessage('showErroToast','You can not add roles that you already have. If yours has expired, renew it.');
							break;
						case '0':
							j$().toastmessage('showSuccessToast','Thank you! Your new membership will be activated as soon as we have processed your request.');
							break; 
					}	
				}
			);
		});
		
		// cancel membership
		j$('span[item="cancel-membership"]').click(function(){
			j$.post(
				'/user/membership/cancel/'+j$(this).attr('role')+'/',
				function(result){
					j$().toastmessage('showSuccessToast','Thank you for using our service. Hope we will see you soon.');
				}
			);
		});
		
		// renew membership
		j$('span[item="renew-membership"]').click(function(){
			j$('select[item="membership-role"]').hide();
			j$('span[item="membership-role"]').html(j$(this).attr('role')).show();
			j$('#btn-renew-membership').show();
			j$('#btn-save-new-membership').hide();
			j$('#div-new-membership').show();
		});
		
		j$('#btn-renew-membership').click(function(){
			j$.post(
				'/user/membership/renew/'+j$(this).attr('role')+'/',
				function(result){
					j$().toastmessage('showSuccessToast','Thank you for renewing your membership!');
				}				
			);
		});
			
		// level 1 navigation
		j$('#nav-user').addClass('level-1-navigation-selected');
		
		// level 2 navigation
		j$('.level-2-navigation').show();
		j$('#nav-user-membership').addClass('level-2-navigation-selected');
	});
</script>
{% endblock %}

{% block main %}
<h1 class="ariel-blue">Memberships</h1>

<p class="ariel-blue ariel-p">
You can <strong>add</strong> or <strong>cancel</strong> a membership at any time to have the optimal functions
supporting your business. <a href="">Learn more</a> of different memberships and choose the ones that best fit your interest.
</p>

<div class="quick-pane">
	<span class="command-link" id="show-new-membership" style="float:right;">Add a New Membership</span>
	
		
	<table class="table-row-border">
	<thead>	<tr><td>Role</td>
				<td>Status</td>
				<td>Monthly Payment ($)</td>
				<td>Last Payment Received</td>
				<td>Last Payment Amount</td>
				<td>Expiration Date</td>
				<td></td>
			</tr>
	</thead>
	<tbody>
		{% for m in me.memberships %}
			<tr><td>{{ m.role }}</td>
				<td>
					{% if m.is_active %}
						Active
					{% else %}
						Expirated
					{% endif %}
				</td>
				<td>{{ m.monthly_payment }}</td>
				<td>{{ m.last_payment_received_date }}</td>
				<td>{{ m.last_payment_amount }}</td>
				<td>{{ m.expiration_date }}</td>
				<td>
					{% if m.is_active and m.role=='Trial' %}
					{% elif m.is_active %}
						<span class="command-link" role="{{ m.role }}" item="cancel-membership">Cancel</span>
					{% else %}
						<span class="command-link" role="{{ m.role }}" item="renew-membership">Renew</span>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>	
	</table>
</div>

<div class="overlay" style="display:none;" id="div-new-membership">
	<div class="pin-in-focus box-shadow">
	
		<div class="border-bottom">
			<h1>New Membership</h1>
		</div>
	
		<div>
			{#
			<span class="command-link" id="add-new-membership" style="float:right;">Add</span>
			#}
			
			<input type="submit" value="Save" id="btn-save-new-membership" class="my-button"/>
			<input type="submit" value="Renew" id="btn-renew-membership" class="my-button"/>
				
			<table class="sf-table two-col-table" id="table-new-membership">
			<thead><tr><td>Role</td><td>Start Date</td></tr></thead>
			<tbody>
				<tr><td>
					<select item="membership-role">
						{% for role,fee in membership_options.iteritems() %}
							<option value="{{ role }}">{{ role }}</option>
						{% endfor %}
					</select>
					<span item="membership-role"></span>
					</td>
					<td>
						<span item="membership-start-date"></span>
					</td>
				</tr>
			</tbody>		
			</table>
		</div>
		
		<!-- paypal button -->		
		<div style="float:right;">
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="MDHCW45BKX2TJ">
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>
		</div>
	</div>
</div>
{% endblock %}
