{% extends "/template/base.html" %}

{% block customJS %}
<script type="text/javascript">
    j$(document).ready(function(){	
		// Using custom configuration
		j$("#feature-carousel").carouFredSel({
			items				: 4,// somehow, this is the MAX I can get this working on my laptop
			responsive			: true,
			pagination			:{
				container		: '#feature-carousel-pagination',
				keys			: true,
				items			: 4
			},
			scroll : {
				items			: 1,
				easing			: "quadratic",
				duration		: 1000,							
				pauseOnHover	: "immediate-resume"
			},
			prev :{
				button			: j$('#featured-carousel-prev')
			},
			next :{
				button			: j$('#featured-carousel-next')
			}								
		});
		
		j$('#command-center-tabs').tabs({
			collapsible: true,
			heightStyle: "content",
			show: {
				effect: "Drop", 
				duration: 800,
				delay: 500 
			} 
		});
		
		j$('#table-carts').dataTable({
			//"sScrollY": "400px",
			"sDom": "frtiS",
			"bFilter":false,
			"bPaginate":false,
			"bInfo":false,
			"bDeferRender": true
		});
    });
    
</script>  
{% endblock %}

{% block main %}
<h1>Welcome back, {{ me.key.get().nickname }}!</h1>
 
<table width="100%">
<tr>
<td width="50px">
<img src="/static/img/back-button-icon.png" style="z-index:999;width:50px;height:100px;" id="featured-carousel-prev" />
</td><td>
<div id="feature-carousel">
	{% for item in orders %}
    	<span class="featured-container">
    	<a href="">
		<img src={{ item.image }} />
		<br />
		{{ item.name }}
		</a>
		</span>
	{% endfor %}
</div>
</td><td width="50px">
<img src="/static/img/next-button-icon.png" style="z-index:999;width:50px;height:100px;" id="featured-carousel-next" />
</td>
</tr>
<tr>
<td></td><td>
<div id="feature-carousel-pagination"></div>
</td><td>
<a class="see-more" href="{{ browse_url }}">More...</a>
</td>
</tr>
</table>

<div class="quick-pane">
<h3>My Shopping Carts</h3>
<table class="table-row-border" id="table-carts">
	<thead><tr>	<td></td>
				<td>Cart Number</td>
				<td>For Client</td>
				<td>Seller</td>
				<td>Posting Buyer</td>
				<td>Status</td>
				<td>Shipping</td>
			</tr>
	</thead>
	<tbody>
		{% for c in carts %}
			<tr><td> Edit | Del</td>
				<td>
					<a href="{{ review_url }}?cart={{ c.key.id() }}">
						Cart# {{ c.key.id() }}
					</a>
				</td>
				<td>
					{% if c.terminal_buyer %}
						{{ c.terminal_buyer.get().nickname }}
					{% endif %}
				</td>
				<td>{{ c.terminal_seller.get().nickname }}</td>
				<td>
					{% if c.broker %}
						{{ c.broker.get().nickname }}
					{% endif %}
				</td>
				<td>{{ c.status }}</td>
				<td>{{ c.shipping_status }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
