{% extends "/template/base.html" %}

{% block level_2_navigation %}
	<ul>
		{% if me.can_be_nur() %}
		<li id="nav-buyorder-browse">
			<a href="/buyorder/browse" title="Browse and shop">
				<img src="/static/img/zoom-in-128.png" />
			</a>
			<h3>Browse</h3>
		</li>

		<li id="nav-cart-review">
			{% if cart %}
			<a href="/cart/review?cart={{ cart.key.id() }}" title="Review my shopping cart">
				<img src="/static/img/Stack.png" />
			</a>
			<h3>My Cart</h3>
			{% endif %}
		</li>		
		{% endif %}
		
		{% if me.can_be_doc() %}
		<li id="nav-buyorder-owner">
			<a href="/buyorder/owner/{{ me.key.id() }}/" title="View my posted orders by category">
				<img src="/static/img/Category.png" />
			</a>
			<h3>Inventory</h3>
		</li>
		{% endif %}

		{% if me.can_be_doc() %}
		<li id="nav-buyorder-post">
			<a href="/buyorder/new" title="Post a new order">
				<img src="/static/img/compose-128.png" />
			</a>
			<h3>Post New</h3>
		</li>
		{% endif %}

	</ul>
{% endblock %}
