<apex:page controller="myBuyOrderExtension" sidebar="false" tabStyle="Account">
<apex:stylesheet value="{!URLFOR($Resource.CTresource,'/CTresource/jquery/css/ui-lightness/jquery-ui-1.8.18.custom.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.CTresource,'/CTresource/css/screen.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.CTresource,'/CTresource/jquery/js/jquery-1.7.1.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.CTresource,'/CTresource/jquery/js/jquery-ui-1.8.18.custom.min.js')}" />
<script src="https://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
<apex:includeScript value="{!URLFOR($Resource.CTresource,'/CTresource/map/markerclusterer.js')}" />
<apex:includeScript value="{!URLFOR($Resource.CTresource,'/CTresource/map/ui/jquery.ui.map.js')}" />
<apex:includeScript value="{!URLFOR($Resource.CTresource,'/CTresource/blockui/jquery.blockUI.js')}" />
<apex:includeScript value="{!URLFOR($Resource.CTresource,'/CTresource/date/date.js')}" />
<apex:includeScript value="{!URLFOR($Resource.CTresource,'/CTresource/highchart/js/highcharts.js')}" />
<apex:includeScript value="{!URLFOR($Resource.CTresource,'/CTresource/highchart/js/modules/exporting.js')}" />
<apex:stylesheet value="{!URLFOR($Resource.CTresource,'/CTresource/DataTables-1.9.4/media/css/jquery.dataTables.css')}" />
<apex:includeScript value="{!URLFOR($Resource.CTresource,'/CTresource/DataTables-1.9.4/media/js/jquery.dataTables.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.CTresource,'/CTresource/qtip/jquery.qtip-1.0.0-rc3.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.CTresource,'/CTresource/pajinate/jquery.pajinate.min.js')}" />
<apex:stylesheet value="{!URLFOR($Resource.CTresource,'/CTresource/pajinate/pajinate.css')}" />
<apex:includeScript value="{!URLFOR($Resource.CTresource,'/CTresource/carouFredSel-6.2.0/jquery.carouFredSel-6.2.0.js')}" />
<apex:stylesheet value="{!URLFOR($Resource.CTresource,'/CTresource/toast/css/jquery.toastmessage.css')}" />
<apex:includeScript value="{!URLFOR($Resource.CTresource,'/CTresource/toast/jquery.toastmessage.js')}" />

<script type="text/javascript">
    var j$ = jQuery.noConflict();
    var googleSearchStart=1;
    var googleSearchStep=8;
    
    function createNewBuyOrder(clientName,product,qty,price,image){
		myBuyOrderExtension.createNewBuyOrder(clientName,product,qty,price,image,function(result,success){
			if (success){
				switch (result){
					case -1:
						j$().toastmessage('showErrorToast', 'Client is not found in the system. Please double check the name and try again.');
						break;
					case -2:
						j$().toastmessage('showErrorToast', 'Duplicate client names have been found in the system. Please double check the name and try again.');
						break;
					case 0:
						j$(0).toastmessage('showSuccessToast', 'Congratulations, your post has been published.');
						break;
					default:
						break;
				}
				
			}else{
				console.log('error');
			}
		},{escape:true});     
    }
    
    function googleImageSearch(term){
		var html;
		switch(googleSearchStart){
			case 1: // first search
				html='';
				break;
			default: // add to
				html= j$('.css3-columns-4').html();
				break;
		}
			    
    	// Google account
    	// crunchtime.boston@gmail.com, xf123456, recovery email fxia@crunchtime.com
    	var api_key='AIzaSyCdLMtJEh8-2kj3nMBm-ua2jv16pZOOQtw';
    	
    	// search engine www.amazon.com
    	var cse='009241380053733508161:wo30_ax0jak';
    	var url=encodeURI('https://www.googleapis.com/customsearch/v1?key='+api_key+'&cx='+cse+'&searchType=image&imgSize=large&safe=high&num='+googleSearchStep+'&start='+googleSearchStart+'&q='+term);
    	
    	// reset input boxes
    	imgArray=[];
    	// google search
		j$.getJSON(url, function(data) {
			var numOfResults=parseInt(data['searchInformation']['totalResults']);
			if (numOfResults>0){
				var items=data['items'];
				for (var i=0;i<items.length;i++){
					var height=parseInt(items[i]['image'].height);
					var width=parseInt(items[i]['image'].width);
					var imgUrl=items[i].link;
					if (height>=200 || width>=200){
						// save all for scroll
						imgArray.push(imgUrl);					
					}
				}
			}
			
			// compose image to page
			for (var i=0;i<imgArray.length;i++){
				html+='<div class="ariel-pinterest-item">';
				html+='<img src="'+imgArray[i]+'"/>';
				html+='<p>';
				html+='<span class="ariel-checkbox">&nbsp;</span>';
				html+='Yes,use this one';
				html+='</p>';
				html+='</div>';
			}
			
			j$('.css3-columns-4').html(html);
			
		});
    }
    
    j$(document).ready(function(){		
    	j$('#publish-new-buy-order-btn').live('click',function(){
    		// term service agreed
    		var agree=j$('#checkbox-agree-term-service').hasClass('ariel-checkbox-checked');
    		if (!agree){
    			j$().toastmessage('showWarningToast', 'You need to agree to the Term of Service.');
    		}else{
	    		// validation
	    		var user=j$.trim(j$('#review-client-name').html());
	    		var name=j$.trim(j$('#review-product-name').html());
	    		var qty=j$.trim(j$('#review-qty').html());
	    		var price=j$.trim(j$('#review-price').html());
	    		var image=j$('#review-product-image').attr('src');
	
	    		if (user=='' || name=='' || qty=='' || price=='' || image==''){
	    			j$().toastmessage('showWarningToast', 'Information is missing. Publishing failed.');
	    		}else{
	    			createNewBuyOrder(user,name,qty,price,image);
	    		}    		
    		}
    	});
    	
    	j$('input[name="name"]').live('change',function(){
    		googleSearchStart=1;
    		
    		var term=j$.trim(j$('input[name="name"]').val());
    		if (term.length==0) return;
    		
    		// using google custom search api to populate the image
    		googleImageSearch(term);
    	});
    	
    	// mimic checkbox checked
    	j$('.ariel-pinterest-item').live('click',function(){
    		var checked=j$(this).find('.ariel-checkbox').hasClass('ariel-checkbox-checked');
    		
    		j$.each(j$('.ariel-pinterest-item'),function(index,item){
    			j$(item).find('.ariel-checkbox-checked').removeClass('ariel-checkbox-checked');
    		});
    		
    		// if not checked yet, make it checked
    		// if already checked, the previous step would have removed all cheked, thus equal to a toggle
    		if (!checked){
    			j$(this).find('.ariel-checkbox').toggleClass('ariel-checkbox-checked');
    		}
    		
    		// link checked to review pane
    		j$.each(j$('.ariel-pinterest-item'),function(index,item){
    			var meChecked=j$(item).find('.ariel-checkbox').hasClass('ariel-checkbox-checked');
    			if (meChecked){
    				j$('#review-product-image').attr('src',j$(item).find('img:first').attr('src'));
    			}
    		});
    	});
    	
    	// google image search show more, using a search offset
    	j$('.show-more').live('click',function(){
    		googleSearchStart+=googleSearchStep;
    		
    		var term=j$.trim(j$('input[name="name"]').val());
    		if (term.length==0) return;
    		
    		// using google custom search api to populate the image
    		googleImageSearch(term);  		
    	});
    	
    	// link inputs to review sections
    	j$('#input-client-name').live('change',function(){
    		j$('#review-client-name').html(j$(this).val());
    	});
    	j$('#input-product-name').live('change',function(){
    		if (j$(this).val().length>=80){
				j$().toastmessage('showWarningToast', 'Name is too long. Max is 80 characters.');    		
    		}else{
				j$('#review-product-name').html(j$(this).val());    		
    		}
    	});    	
    	j$('#input-price').live('change',function(){
    		j$('#review-price').html(j$(this).val());
    		
    		var total=parseFloat(j$('#input-qty').val())*parseFloat(j$(this).val());
    		j$('#review-order-total').html(total);
    	});
    	j$('#input-qty').live('change',function(){
    		j$('#review-qty').html(j$(this).val());

    		var total=parseFloat(j$('#input-price').val())*parseFloat(j$(this).val());
    		j$('#review-order-total').html(total);    		
    	});
    	
    	j$('#btn-apply-user-input-image').live('click',function(){
    		j$('#user-input-image').attr('src',j$(this).siblings('input').val());
    	});  
    	
    	j$('.ariel-checkbox-regular').live('click',function(){
    		j$(this).toggleClass('ariel-checkbox-checked');
    	});  	    	
    });	
</script>

<style>
body{
	font-family: Verdana, Geneva, sans-serif;	
}

</style>

<h1 class="ariel-blue">Create a new order</h1>
<p class="ariel-blue ariel-p">
Before you create your listing, tell us what you're selling and we'll help you choose
the right category so buyers can find your item easily. We'll also look for similar
items to give you a starting point for your listing.
</p>

<h2 class="ariel-h2">1. What are you looking for?</h2>
<p class="ariel-p">Tell us about your offer.</p>
<table class="ariel-table">
<tr><td>
Choose only one client
</td><td>
<input name="user" type="text" id="input-client-name" placeholder="eg. John Smith"/>
</td></tr>

<tr><td>
Write about the product
</td><td>
<input name="name" type="text" id="input-product-name" placeholder="eg. Apple iPad 64G White"/>
</td></tr>

<tr><td>
Name the price
</td><td>
<input name="price" type="number" id="input-price" placeholder="eg. 632.99"/>
</td></tr>

<tr><td>
Enter quantity
</td><td>
<input name="qty" type="number" id="input-qty" placeholder="eg. 100"/>
</td></tr>
</table>

<h2 class="ariel-h2">2. Does the photo match your product?</h2>
<p class="ariel-p">
We help you automatically find pictures for your product. This helps user with a visual reference and improves matching quality.
</p>

<div class="image-select-pane" >
<div class="css3-columns-4">
</div>

<div class="show-more">
Show more
</div>

<p class="ariel-p">
None of these matches yours? Find your own picture and copy and paste url of your product below.
</p>

<table class="ariel-table">
<tr><td>
Picture link
</td><td>
<input type="url" class="url" placeholder="http://..."/>
<span class="ariel-button" id="btn-apply-user-input-image">Use</span>
</td></tr>
</table>
<div class="ariel-pinterest-item" style="margin-right:auto;margin-left:auto;display:block;">
	<img id="user-input-image" src="" />
	<p>
		<span class="ariel-checkbox">&nbsp;</span>
		Yes, use this one
	</p>
</div>
</div>

<h2 class="ariel-h2">3. Review your order and publish</h2>
<p></p>

<div class="image-select-pane">
	<table id="review-new-buy-order-table">
	<tr><td class="box-shadow">
	<img id="review-product-image" src="" style=""/>
	</td><td>
	
	<table class="ariel-table">
		<tr><td>
		Product name
		</td><td>
		<span id="review-product-name"></span>
		</td></tr>
		
		<tr><td>
		For client
		</td><td>
		<span id="review-client-name"></span>
		</td></tr>
		
		<tr><td>
		Unit price
		</td><td>
		<span id="review-price"></span>
		</td></tr>
		
		<tr><td>
		Quantity
		</td><td>
		<span id="review-qty"></span>
		</td></tr>
		
		<tr><td>
		Total amount
		</td><td class="ariel-blue">
			<apex:outputPanel styleClass="border-top-red">
			<span id="review-order-total" style="border-bottom: 3px double red;"></span>		
			</apex:outputPanel>				
		</td></tr>
	</table>
	</td></tr></table>
</div>

	<div class="image-select-pane" style="border:none;">
	<div style="float:right;">
	<span class="ariel-checkbox-regular" id="checkbox-agree-term-service">&nbsp;</span>I agree with <a href="" class="ariel-blue">Term of Service</a>
	<div class="ariel-button" style="margin-top:15px;" id="publish-new-buy-order-btn">Publish</div>
	</div>
	</div>
</apex:page>3