{% extends "/template/OrderBase.html" %}

{% block customJS %}
<script type="text/javascript">
    var googleSearchStart=1;
    var googleSearchStep=8;

	// post-submit callback 
	function showResponse(responseText, statusText, xhr, j$form)  { 
		// for normal html responses, the first argument to the success callback 
		// is the XMLHttpRequest object's responseText property 
 
 		// if the ajaxForm method was passed an Options Object with the dataType 
 		// property set to 'xml' then the first argument to the success callback 
 		// is the XMLHttpRequest object's responseXML property 
  
  		// if the ajaxForm method was passed an Options Object with the dataType 
  		// property set to 'json' then the first argument to the success callback 
  		// is the json data object returned by the server 
   
   		//alert('status: ' + statusText + '\n\nresponseText: \n' + responseText + 
   		//'\n\nThe output div should have already been updated with the responseText.'); 
		
		switch (responseText){
			case -1:
				j$().toastmessage('showErrorToast', 'Client is not found in the system. Please double check the name and try again.');
				break;
			case -2:
				j$().toastmessage('showErrorToast', 'Duplicate client names have been found in the system. Please double check the name and try again.');
				break;
			case 0:
				j$().toastmessage('showSuccessToast', 'Congratulations, your post has been published.');
				
				// reset inputs
				j$('div#step-1').find('input').val('');
     			tinyMCE.activeEditor.setContent('');
				j$('div#step-2').find('input').val('');
				j$('.css3-columns-4').html('');
				break;
			default:
				break;
		}
   	} 

	// pre-submit callback 
	function showRequest(formData, jqForm, options) { 
    	// formData is an array; here we use $.param to convert it to a string to display it 
        // but the form plugin does this for you automatically when it submits the data 
        var queryString = j$.param(formData); 
             
 		// jqForm is a jQuery object encapsulating the form element.  To access the 
 		// DOM element for the form do this: 
 		// var formElement = jqForm[0]; 
  		
  		//alert('About to submit: \n\n' + queryString); 
   		
   		// here we could return false to prevent the form from being submitted; 
   		// returning anything other than false will allow the form submit to continue 
   		//return true; 
		
		{% if order %}
		
		{% else %}
    		// term service agreed
    		var agree=j$('#checkbox-agree-term-service').hasClass('ariel-checkbox-checked');
    		if (!agree){
    			j$().toastmessage('showWarningToast', 'You need to agree to the Term of Service.');
    			return false;
    		}
 		{% endif %}
 		   	
	    // validation
	    var user=j$.trim(j$('#review-client-name').html());
	    var name=j$.trim(j$('#review-product-name').html());
	    var description=j$.trim(j$('#review-product-description').html());
	    var qty=j$.trim(j$('#review-qty').html());
	    var price=j$.trim(j$('#review-price').html());
	    var image=j$('#review-product-image').attr('src');

	    if (name==''){
	    	j$().toastmessage('showErrorToast', 'Product name is required!');
			return false;
		}
	    if (qty==''){
	    	j$().toastmessage('showErrorToast', 'Product quantity is required!');
			return false;
		}
				
	    if (price==''){
	    	j$().toastmessage('showErrorToast', 'Product price is required!');
			return false;
		}
   		return true;
   	}                                                           
    
    function googleImageSearch(term){
		var html;
		switch(googleSearchStart){
			case 1: // first search
				html='';
				break;
			default: // add to
				html= j$('.css3-columns-4').html();
				break;
		}
			    
    	// Google account
    	// anthem.market.place@gmail.com, anthem123456, recovery email an.banana.slug@gmail.com
    	var api_key='AIzaSyDooQcg6OO8AYa1Oc_aVJX31DFHXaMr5b8';
    	
    	// search engine www.amazon.com
    	var cse='016432411100893507841:y0sw886dln8';
    	var url=encodeURI('https://www.googleapis.com/customsearch/v1?key='+api_key+'&cx='+cse+'&searchType=image&imgSize=large&safe=high&num='+googleSearchStep+'&start='+googleSearchStart+'&q='+term);
    	
    	// reset input boxes
    	imgArray=[];
    	// google search
		j$.getJSON(url, function(data) {
			var numOfResults=parseInt(data['searchInformation']['totalResults']);
			if (numOfResults>0){
				var items=data['items'];
				for (var i=0;i<items.length;i++){
					var height=parseInt(items[i]['image'].height);
					var width=parseInt(items[i]['image'].width);
					var imgUrl=items[i].link;
					if (height>=200 || width>=200){
						// save all for scroll
						imgArray.push(imgUrl);					
					}
				}
			}
			
			// compose image to page
			for (var i=0;i<imgArray.length;i++){
				html+='<div class="ariel-pinterest-item">';
				html+='<img src="'+imgArray[i]+'"/>';
				html+='<p>';
				html+='<span class="ariel-checkbox">&nbsp;</span>';
				html+='Yes,use this one';
				html+='</p>';
				html+='</div>';
			}
			
			j$('.css3-columns-4').html(html);
			
		});
    }
    
    function updateReviewInfo(){
     	// populate review info upon user viewing this tab
     	// the review data will be later submitted to create an instance
    	j$('#review-client-name').html(j$('#input-client-name').val());
		j$('#review-product-name').html(j$('#input-product-name').val());    		
    	j$('#review-price').html(j$('#input-price').val());
    	j$('#review-qty').html(j$('#input-qty').val());
    	
    	var total=parseFloat(j$('#input-qty').val())*parseFloat(j$('#input-price').val());
    	j$('#review-order-total').html(total);
		
		// tinyMCE editor content
     	var content=tinyMCE.activeEditor.getContent({format : 'raw'});
     	//var content=tinyMCE.activeEditor.getContent();
		j$('#review-product-description').html(content);
		
		// MUST: this is the actual INPUT field that will be submitted in form
		j$('#input-product-description').html(content);
    }
    
    j$(document).ready(function(){		
    	j$('#input-product-name').on('change',function(){
    		if (j$(this).val().length>=500){
				j$().toastmessage('showWarningToast', 'Name is too long. Max is 500 characters.');    		
    		}else{
				j$('#review-product-name').html(j$(this).val());    		
    		}
    		googleSearchStart=1;
    		
    		var term=j$.trim(j$(this).val());
    		if (term.length==0) return;
    		
    		// using google custom search api to populate the image
    		googleImageSearch(term);
    	});
    	
    	// mimic checkbox checked
    	j$(document).on('click','.ariel-pinterest-item',function(){
    		var checked=j$(this).find('.ariel-checkbox').hasClass('ariel-checkbox-checked');
    		
    		j$.each(j$('.ariel-pinterest-item'),function(index,item){
    			j$(item).find('.ariel-checkbox-checked').removeClass('ariel-checkbox-checked');
    		});
    		
    		// if not checked yet, make it checked
    		// if already checked, the previous step would have removed all cheked, thus equal to a toggle
    		if (!checked){
    			j$(this).find('.ariel-checkbox').toggleClass('ariel-checkbox-checked');
    		}
    		
    		// link checked to review pane
    		j$.each(j$('.ariel-pinterest-item'),function(index,item){
    			var meChecked=j$(item).find('.ariel-checkbox').hasClass('ariel-checkbox-checked');
    			if (meChecked){
    				j$('#review-product-image').attr('src',j$(item).find('img:first').attr('src'));
    				
    				// set input value
    				j$('input[name="url"]').val(j$(item).find('img:first').attr('src'));
    			}
    		});
    	});
    	
    	// google image search show more, using a search offset
    	j$('.show-more').on('click',function(){
    		googleSearchStart+=googleSearchStep;
    		
    		var term=j$.trim(j$('#input-product-name').val());
    		if (term.length==0) return;
    		
    		// using google custom search api to populate the image
    		googleImageSearch(term);  		
    	});
    	
    	// link inputs to review sections
    	
    	j$('.ariel-checkbox-regular').on('click',function(){
    		j$(this).toggleClass('ariel-checkbox-checked');
    	});  	    	
    	
    	// bind 'myForm' and provide a simple callback function 
    	var options={
    		dataType: 'json',
    		beforeSubmit: showRequest,
    		success: showResponse
    	};
    	j$('#myForm').keydown(function(e) {
    	  	return e.which !== 13;
    	}).ajaxForm(options,function() { 
    		alert("Thank you for your comment!"); 
    	});

    	// initialize tabs
    	j$('#tabs-min').tabs();
    	
		j$('#switch-to-step-2').click(function(){
			// Activate the 2nd panel
			j$( "#tabs-min" ).tabs( "option", "active", 1 );
		});

		j$('#switch-to-step-3').click(function(){
			// Activate the third panel
			j$( "#tabs-min" ).tabs( "option", "active", 2 );
			updateReviewInfo();		
		});

    	
    	// initialize textarea
		tinymce.init({
    		selector: "textarea.ss-textarea",
    		width: "100%",
    		height: 300,
			plugins: [
 			"advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
  			"searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
   			"save table contextmenu directionality emoticons template paste textcolor"
  			],
			toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons", 
   			style_formats: [
   			{title: 'Bold text', inline: 'b'},
   			{title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
   			{title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
   			{title: 'Example 1', inline: 'span', classes: 'example1'},
   			{title: 'Example 2', inline: 'span', classes: 'example2'},
   			{title: 'Table styles'},
   			{title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
   			]    		
     	});
     	
     	j$('#view-review').click(function(){
     		updateReviewInfo();
     	});

		// if editing, set image selected
		{% if order %}
    		j$('#user-input-image').parent('.ariel-pinterest-item').find('.ariel-checkbox').addClass('ariel-checkbox-checked');
		{% endif %}

		// if there is order, meaning we are editing, we need to make sure
		// that new qty not < filled_qty
		// filled_qty represents items in our pipeline even some we have not approved
		{% if order %}
		j$('#input-qty').change(function(){
			var qty=j$(this).val();
			var filled={{ order.filled_qty }};
			if (qty<filled){
				j$().toastmessage('showErrorToast','There are '+filled+' submitted by seller already. You can not set Qty less than this value.');
				return false;
			}
		});
		{% endif %}

		// level 1 navigatino
		j$('#nav-order').addClass('level-1-navigation-selected');
		     	
     	// level 2 navigation on
     	j$('.level-2-navigation').show();
     	j$('#nav-buyorder-post').addClass('level-2-navigation-selected');
    });	
</script>
{% endblock %}

{% block main %}
<form id="myForm" action="/buyorder/new" method="post"> 

<h1 class="ariel-blue">Create a New Order</h1>
<p class="ariel-blue ariel-p">
Tell us what you are selling and we will help you choose
the right category so buyers can find your item easily. We'll also look for similar
items to give you a starting point for your listing.
</p>

<div id="tabs-min">
	<ul>
		<li><a href="#step-1">1. Describe Your Product</a></li>
		<li><a href="#step-2">2. Select a Picture</a></li>
		<li><a href="#step-3" id="view-review">3. Review and Publish</a></li>
	</ul>

	<div id="step-1">
		<table class="two-col-table">
			<tr><td colspan="2">
					<label class="ss-label">Product</label>
					<br />
					{% if order %}
						<input name="product" type="text" id="input-product-name" value="{{ order.name }}"/>
					{% else %}
						<input name="product" type="text" id="input-product-name" placeholder="eg. Apple iPad 64G White"/>

					{% endif %}
				</td>
			</tr>
				
			<tr><td>
					<label class="ss-label">Price</label><br />
					{% if order %}
						<input name="price" type="number" id="input-price" step="any" min="0" value="{{ order.price }}" />
					{% else %}
						<input name="price" type="number" id="input-price" placeholder="eg. 632.99" step="any" min="0" />
					{% endif %}
				</td><td>
					<label class="ss-label">Qty</label><br />
					{% if order %}						
						<input name="qty" type="number" id="input-qty" min="1" value="{{ order.qty }}"/>
					{% else %}
						<input name="qty" type="number" id="input-qty" placeholder="eg. 100" min="1" />
					{% endif %}
				</td>
			</tr>
			<tr><td colspan="2">
					<label class="ss-label">Brief Description</label>
					<br />
					{% if order %}
						<textarea class="ss-textarea">{{ order.description }}</textarea>
					{% else %}
						{% if me.shipping_preference|count == 0 or me.payment_preference|count==0 %}
						<blockquote>
							Set up a default <a href="/user/contact/preference" class="command-link" >shipping preference and payment preference</a> that will be applied to all your posts.
						</blockquote>
						{% endif %}
						<textarea class="ss-textarea">
						<ul>
							<li>物品新旧要求</li>
							<li>买卖双方谁承担邮寄损失</li>
							<li>其他补充说明</li>						
						</ul>
						</textarea>
					{% endif %}
					<textarea style="display:none;" name="description" id="input-product-description"></textarea>			
				</td>
			</tr>
			
			<tr><td colspan="2">
				<label class="ss-label">For Client (optional)</label>
				<br />
				{% if order %}
					{% if order.terminal_buyer %}
						<input name="client" type="text" id="input-client-name" value="@{{ order.terminal_buyer.get().nickname }}"/>
					{% else %}
						<input name="client" type="text" id="input-client-name" placeholder="eg. @anthem.marketplace"/>
					{% endif %}
				{% else %}
					<input name="client" type="text" id="input-client-name" placeholder="eg. @anthem.marketplace"/>
				{% endif %}
				</td>
			</tr>
		</table>

		<!- navigation -->
		<div style="text-align:right;margin-top:30px;">
			<span class="ariel-button" id="switch-to-step-2">Next<font face="Symbol">&#187;</font></span>
		</div>
	</div>
	
	<div id="step-2">
		<p class="ariel-p">
		We help you automatically find pictures for your product. This helps user with a visual reference and improves matching quality.
		</p>
		
		<div class="image-select-pane" >
			<div class="css3-columns-4"></div>
		</div>
		
		<div class="show-more">Show more</div>
		
		<!-- hidden input to hold actual image url -->
		<input name="url" value="/static/img/default.png" style="display:none;"/>
		
		<!- navigation -->
		<div style="text-align:right;margin-top:30px;">
			<span class="ariel-button" id="switch-to-step-3">Skip<font face="Symbol">&#187;</font></span>
		</div>
	</div>

	<div id="step-3">
		<div class="image-select-pane">
			<table id="review-new-buy-order-table">
			<tr><td valign="middle" class="box-shadow">
				{% if order %}
					<img id="review-product-image" src="{{ order.image }}" style="max-width:150px;width:100%;"/>
				{% else %}
					<img id="review-product-image" src="/static/img/default.png" style="width:100%;"/>
				{% endif %}
			</td><td>
			
			<table class="table-row-border ariel-table">
				<tr><td>
				Product Name
				</td><td>
				<span id="review-product-name"></span>
				</td></tr>
				
				<tr><td>
				Product Details
				</td><td>
				<div id="review-product-description" class=""></div>
				</td></tr>
				
				<tr><td>
				Payment Preference
				</td><td>
				<div id="review-payment-preference" class=""></div>
				</td></tr>
				
				<tr><td>
				Shipping Preference
				</td><td>
				<div id="review-shipping-preference" class=""></div>
				</td></tr>
				
				<tr><td>
				For Client
				</td><td>
				<span id="review-client-name"></span>
				</td></tr>
				
				<tr><td>
				Unit Price
				</td><td>
				<span id="review-price"></span>
				</td></tr>
				
				<tr><td>
				Quantity
				</td><td>
				<span id="review-qty"></span>
				</td></tr>
				
				<tr><td>
				Total Amount
				</td><td class="ariel-blue">
					<apex:outputPanel styleClass="border-top-red">
					<span id="review-order-total" style="border-bottom: 3px double red;"></span>		
					</apex:outputPanel>				
				</td></tr>
			</table>
			</td></tr></table>
		</div> <!-- end of image selecte pane div -->
		
		<div class="image-select-pane" style="border:none;">
			
			<div style="float:right;">
			{% if order %}
				<div class="ariel-button" style="margin-top:15px;">
					<input name="order_id" value="{{ order.key.id() }}" style="display:none;"/>
					<input style="border:none;background:transparent;" type="submit" value="Save" />
				</div>
			{% else %}
				<span class="ariel-checkbox-regular" id="checkbox-agree-term-service">&nbsp;</span>I agree with <a href="" class="ariel-blue">Term of Service</a>
				<div class="ariel-button" style="margin-top:15px;">
					<input style="border:none;background:transparent;" type="submit" value="Publish" />
				</div>
				<input name="order_id" value="" style="display:none;"/>
			{% endif %}
			</div>
		</div>		
	</div><!-- end of tab 3 -->
</div>



</form>

{% endblock %}

