{% extends "/template/base.html" %}

{% block customJS %}
<script type="text/javascript">
    var googleSearchStart=1;
    var googleSearchStep=8;

	// post-submit callback 
	function showResponse(responseText, statusText, xhr, j$form)  { 
		// for normal html responses, the first argument to the success callback 
		// is the XMLHttpRequest object's responseText property 
 
 		// if the ajaxForm method was passed an Options Object with the dataType 
 		// property set to 'xml' then the first argument to the success callback 
 		// is the XMLHttpRequest object's responseXML property 
  
  		// if the ajaxForm method was passed an Options Object with the dataType 
  		// property set to 'json' then the first argument to the success callback 
  		// is the json data object returned by the server 
   
   		//alert('status: ' + statusText + '\n\nresponseText: \n' + responseText + 
   		//'\n\nThe output div should have already been updated with the responseText.'); 
		
		switch (responseText){
			case -1:
				j$().toastmessage('showErrorToast', 'Client is not found in the system. Please double check the name and try again.');
				break;
			case -2:
				j$().toastmessage('showErrorToast', 'Duplicate client names have been found in the system. Please double check the name and try again.');
				break;
			case 0:
				j$().toastmessage('showSuccessToast', 'Congratulations, your post has been published.');
				break;
			default:
				break;
		}
   	} 

	// pre-submit callback 
	function showRequest(formData, jqForm, options) { 
    	// formData is an array; here we use $.param to convert it to a string to display it 
        // but the form plugin does this for you automatically when it submits the data 
        var queryString = j$.param(formData); 
             
 		// jqForm is a jQuery object encapsulating the form element.  To access the 
 		// DOM element for the form do this: 
 		// var formElement = jqForm[0]; 
  		
  		//alert('About to submit: \n\n' + queryString); 
   		
   		// here we could return false to prevent the form from being submitted; 
   		// returning anything other than false will allow the form submit to continue 
   		//return true; 

    	// term service agreed
    	var agree=j$('#checkbox-agree-term-service').hasClass('ariel-checkbox-checked');
    	if (!agree){
    		j$().toastmessage('showWarningToast', 'You need to agree to the Term of Service.');
    		return false;
    	}else{
	    	// validation
	    	var user=j$.trim(j$('#review-client-name').html());
	    	var name=j$.trim(j$('#review-product-name').html());
	    	var description=j$.trim(j$('#review-product-description').html());
	    	var qty=j$.trim(j$('#review-qty').html());
	    	var price=j$.trim(j$('#review-price').html());
	    	var image=j$('#review-product-image').attr('src');

	    	if (name==''){
	    		j$().toastmessage('showErrorToast', 'Product name is required!');
				return false;
			}
	    	if (qty==''){
	    		j$().toastmessage('showErrorToast', 'Product quantity is required!');
				return false;
			}
	    	if (price==''){
	    		j$().toastmessage('showErrorToast', 'Product price is required!');
				return false;
			}
    	}
   		return true;
   	}                                                           
    
    function googleImageSearch(term){
		var html;
		switch(googleSearchStart){
			case 1: // first search
				html='';
				break;
			default: // add to
				html= j$('.css3-columns-4').html();
				break;
		}
			    
    	// Google account
    	// crunchtime.boston@gmail.com, xf123456, recovery email fxia@crunchtime.com
    	var api_key='AIzaSyCdLMtJEh8-2kj3nMBm-ua2jv16pZOOQtw';
    	
    	// search engine www.amazon.com
    	var cse='009241380053733508161:wo30_ax0jak';
    	var url=encodeURI('https://www.googleapis.com/customsearch/v1?key='+api_key+'&cx='+cse+'&searchType=image&imgSize=large&safe=high&num='+googleSearchStep+'&start='+googleSearchStart+'&q='+term);
    	
    	// reset input boxes
    	imgArray=[];
    	// google search
		j$.getJSON(url, function(data) {
			var numOfResults=parseInt(data['searchInformation']['totalResults']);
			if (numOfResults>0){
				var items=data['items'];
				for (var i=0;i<items.length;i++){
					var height=parseInt(items[i]['image'].height);
					var width=parseInt(items[i]['image'].width);
					var imgUrl=items[i].link;
					if (height>=200 || width>=200){
						// save all for scroll
						imgArray.push(imgUrl);					
					}
				}
			}
			
			// compose image to page
			for (var i=0;i<imgArray.length;i++){
				html+='<div class="ariel-pinterest-item">';
				html+='<img src="'+imgArray[i]+'"/>';
				html+='<p>';
				html+='<span class="ariel-checkbox">&nbsp;</span>';
				html+='Yes,use this one';
				html+='</p>';
				html+='</div>';
			}
			
			j$('.css3-columns-4').html(html);
			
		});
    }
    
    j$(document).ready(function(){		
    	j$('#publish-new-buy-order-btn').on('click',function(){
    	});
    	
    	j$('#input-product-name').on('change',function(){
    		googleSearchStart=1;
    		
    		var term=j$.trim(j$(this).val());
    		if (term.length==0) return;
    		
    		// using google custom search api to populate the image
    		googleImageSearch(term);
    	});
    	
    	// mimic checkbox checked
    	j$(document).on('click','.ariel-pinterest-item',function(){
    		var checked=j$(this).find('.ariel-checkbox').hasClass('ariel-checkbox-checked');
    		
    		j$.each(j$('.ariel-pinterest-item'),function(index,item){
    			j$(item).find('.ariel-checkbox-checked').removeClass('ariel-checkbox-checked');
    		});
    		
    		// if not checked yet, make it checked
    		// if already checked, the previous step would have removed all cheked, thus equal to a toggle
    		if (!checked){
    			j$(this).find('.ariel-checkbox').toggleClass('ariel-checkbox-checked');
    		}
    		
    		// link checked to review pane
    		j$.each(j$('.ariel-pinterest-item'),function(index,item){
    			var meChecked=j$(item).find('.ariel-checkbox').hasClass('ariel-checkbox-checked');
    			if (meChecked){
    				j$('#review-product-image').attr('src',j$(item).find('img:first').attr('src'));
    				
    				// set input value
    				j$('input[name="url"]').val(j$(item).find('img:first').attr('src'));
    			}
    		});
    	});
    	
    	// google image search show more, using a search offset
    	j$('.show-more').on('click',function(){
    		googleSearchStart+=googleSearchStep;
    		
    		var term=j$.trim(j$('#input-product-name').val());
    		if (term.length==0) return;
    		
    		// using google custom search api to populate the image
    		googleImageSearch(term);  		
    	});
    	
    	// link inputs to review sections
    	j$('#input-client-name').on('change',function(){
    		j$('#review-client-name').html(j$(this).val());
    	});
    	j$('#input-product-name').on('change',function(){
    		if (j$(this).val().length>=500){
				j$().toastmessage('showWarningToast', 'Name is too long. Max is 500 characters.');    		
    		}else{
				j$('#review-product-name').html(j$(this).val());    		
    		}
    	});    	
    	j$('#input-product-description').on('change',function(){
    		if (j$(this).val().length>=500){
				j$().toastmessage('showWarningToast', 'Description is too long. Max is 500 characters.');    		
    		}else{
				j$('#review-product-description').html(j$(this).val());    		
    		}
    	});    	
    	j$('#input-price').on('change',function(){
    		j$('#review-price').html(j$(this).val());
    		
    		var total=parseFloat(j$('#input-qty').val())*parseFloat(j$(this).val());
    		j$('#review-order-total').html(total);
    	});
    	j$('#input-qty').on('change',function(){
    		j$('#review-qty').html(j$(this).val());

    		var total=parseFloat(j$('#input-price').val())*parseFloat(j$(this).val());
    		j$('#review-order-total').html(total);    		
    	});
    	
    	j$('#btn-apply-user-input-image').on('click',function(){
    		j$('#user-input-image').attr('src',j$(this).siblings('input').val());
    	});  
    	
    	j$('.ariel-checkbox-regular').on('click',function(){
    		j$(this).toggleClass('ariel-checkbox-checked');
    	});  	    	
    	
    	// bind 'myForm' and provide a simple callback function 
    	var options={
    		dataType: 'json',
    		beforeSubmit: showRequest,
    		success: showResponse
    	};
    	j$('#myForm').keydown(function(e) {
    	  	return e.which !== 13;
    	}).ajaxForm(options,function() { 
    		alert("Thank you for your comment!"); 
    	}); 
    });	
</script>
{% endblock %}

{% block main %}
<form id="myForm" action="/buyorder/new" method="post"> 

<h1 class="ariel-blue">Create a new order</h1>
<p class="ariel-blue ariel-p">
Before you create your listing, tell us what you're selling and we'll help you choose
the right category so buyers can find your item easily. We'll also look for similar
items to give you a starting point for your listing.
</p>

<h2 class="ariel-h2">1. What are you looking for?</h2>
<p class="ariel-p">Tell us about your offer.</p>
<table class="ariel-table">
<tr><td>
Choose only one client
</td><td>
<input name="client" type="email" id="input-client-name" placeholder="eg. john@example.com"/>
</td></tr>

<tr><td>
Product name
</td><td>
<input name="product" type="text" id="input-product-name" placeholder="eg. Apple iPad 64G White"/>
</td></tr>

<tr><td>
Write about the product
</td><td>
<input name="description" type="text" id="input-product-description" placeholder="eg. Serial number starts with NO233xxx"/>
</td></tr>

<tr><td>
Name the price
</td><td>
<input name="price" type="number" id="input-price" placeholder="eg. 632.99" step="any" min="0" />
</td></tr>

<tr><td>
Enter quantity
</td><td>
<input name="qty" type="number" id="input-qty" placeholder="eg. 100" min="1" />
</td></tr>
</table>

<h2 class="ariel-h2">2. Does the photo match your product?</h2>
<p class="ariel-p">
We help you automatically find pictures for your product. This helps user with a visual reference and improves matching quality.
</p>

<div class="image-select-pane" >
<div class="css3-columns-4">
</div>

<div class="show-more">
Show more
</div>

<p class="ariel-p">
None of these matches yours? Find your own picture and copy and paste url of your product below.
</p>

<table class="ariel-table">
<tr><td>
Picture link
</td><td>
<input type="url" class="url" placeholder="http://..."/>
<input type="url" name="url" style="display:none;"/>

<span class="ariel-button" id="btn-apply-user-input-image">Use</span>
</td></tr>
</table>
<div class="ariel-pinterest-item" style="margin-right:auto;margin-left:auto;display:block;">
	<img id="user-input-image" src="" />
	<p>
		<span class="ariel-checkbox">&nbsp;</span>
		Yes, use this one
	</p>
</div>
</div>

<h2 class="ariel-h2">3. Review your order and publish</h2>
<p></p>

<div class="image-select-pane">
	<table id="review-new-buy-order-table">
	<tr><td class="box-shadow">
	<img id="review-product-image" src="" style=""/>
	</td><td>
	
	<table class="ariel-table">
		<tr><td>
		Product name
		</td><td>
		<span id="review-product-name"></span>
		</td></tr>
		
		<tr><td>
		Product details
		</td><td>
		<span id="review-product-description"></span>
		</td></tr>
		
		<tr><td>
		For client
		</td><td>
		<span id="review-client-name"></span>
		</td></tr>
		
		<tr><td>
		Unit price
		</td><td>
		<span id="review-price"></span>
		</td></tr>
		
		<tr><td>
		Quantity
		</td><td>
		<span id="review-qty"></span>
		</td></tr>
		
		<tr><td>
		Total amount
		</td><td class="ariel-blue">
			<apex:outputPanel styleClass="border-top-red">
			<span id="review-order-total" style="border-bottom: 3px double red;"></span>		
			</apex:outputPanel>				
		</td></tr>
	</table>
	</td></tr></table>
</div>

	<div class="image-select-pane" style="border:none;">
	<div style="float:right;">
	<span class="ariel-checkbox-regular" id="checkbox-agree-term-service">&nbsp;</span>I agree with <a href="" class="ariel-blue">Term of Service</a>
	<div class="ariel-button" style="margin-top:15px;">
		<input style="border:none;background:transparent;" type="submit" value="Publish" />
	</div>
	</div>
	</div>

</form>

{% endblock %}

