{% extends "/template/ReportBase.html" %}

{% block customJS %}
<script type="text/javascript">
	j$(document).ready(function(){
	
		//level 1 navigation
		j$('#nav-report').addClass('level-1-navigation-selected');
		
		// level 2 navigation
		j$('.level-2-navigation').show();
		j$('#nav-report-buyorder').addClass('level-2-navigation-selected');
	});
</script>
{% endblock %}

{% block main %}

<ul>
{% for year, year_group in carts|groupby('created_time.year') %}
	{% for month, list in year_group|groupby('created_time.month') %}
	<li>
		<h3>{{ month }}/{{ year }}</h3>
		
		<ul>
		{% for c in list|sort(attribute='age') %}
			<li>Cart# {{ c.key.id() }} &mdash; {{ c.age }}</li>
		{% endfor %}
		</ul>
	</li>
	{% endfor %}
{% endfor %}

</ul>
{% endblock %}
