{% extends "/template/base.html" %}


{% block level_2_navigation %}
	<ul>
		<li id="nav-report-buyorder">
			<a href="/report/buyorder/7/" title="Your sales reports">
				<img src="http://cdn2.iconfinder.com/data/icons/picons-essentials/71/discount-128.png"/>
			</a>
			<h3>My Sales</h3>
		</li>

		<li id="nav-report-myseller">
			<a href="/report/myseller/7/" title="Your seller reports">
				<img src="http://cdn2.iconfinder.com/data/icons/picons-essentials/71/discount-128.png"/>
			</a>
			<h3>My Sellers</h3>
		</li>

	</ul>
{% endblock %}
