{% extends "/template/base.html" %}


{% block level_2_navigation %}
	<ul>
		{% if me.can_be_nur() %}
		<li id="nav-report-buyer">
			<a href="/report/mybuyer/7/" title="Your dealer reports">
				<img src="/static/img/discount-128.png"/>
			</a>
			<h3>Dealers</h3>
		</li>
		{% endif %}
		
		{% if me.can_be_doc() %}
		<li id="nav-report-buyorder">
			<a href="/report/buyorder/7/" title="Your sales reports">
				<img src="/static/img/discount-128.png"/>
			</a>
			<h3>Products</h3>
		</li>

		<li id="nav-report-myseller">
			<a href="/report/myseller/7/" title="Your seller reports">
				<img src="/static/img/Group_of_People-128.png"/>
			</a>
			<h3>Vendors</h3>
		</li>
		{% endif %}

		<li id="nav-report-myincome">
			<a href="/report/myincome/7/" title="Your income reports">
				<img src="/static/img/check_money-128.png"/>
			</a>
			<h3>Income</h3>
		</li>

	</ul>
{% endblock %}
