{% extends "/template/OrderBase.html" %}

{% block customJS %}
<script type="text/javascript">
	// post-submit callback 
	function showResponse(responseText, statusText, xhr, j$form)  { 
		// for normal html responses, the first argument to the success callback 
		// is the XMLHttpRequest object's responseText property 
 
 		// if the ajaxForm method was passed an Options Object with the dataType 
 		// property set to 'xml' then the first argument to the success callback 
 		// is the XMLHttpRequest object's responseXML property 
  
  		// if the ajaxForm method was passed an Options Object with the dataType 
  		// property set to 'json' then the first argument to the success callback 
  		// is the json data object returned by the server 
   
   		//alert('status: ' + statusText + '\n\nresponseText: \n' + responseText + 
   		//'\n\nThe output div should have already been updated with the responseText.'); 
		
		switch (responseText){
			case 0:
				j$().toastmessage('showSuccessToast', 'Shipment information has been saved');

				break;
			default:
				break;
		}
   	} 
	// pre-submit callback 
	function showRequest(formData, jqForm, options) { 
    	// formData is an array; here we use $.param to convert it to a string to display it 
        // but the form plugin does this for you automatically when it submits the data 
        var queryString = j$.param(formData); 
             
 		// jqForm is a jQuery object encapsulating the form element.  To access the 
 		// DOM element for the form do this: 
 		// var formElement = jqForm[0]; 
  		
  		//alert('About to submit: \n\n' + queryString); 
   		
   		// here we could return false to prevent the form from being submitted; 
   		// returning anything other than false will allow the form submit to continue 
   		//return true; 
    	
	    // validation
	    var carrier=j$.trim(j$('select[name="shipping-carrier"]').val());
	    var tracking=j$.trim(j$('input[name="shipping-tracking"]').val());
	    var package=j$.trim(j$('input[name="shipping-package"]').val());
	    
	    // not required
	    var cost=j$.trim(j$('input[name="shipping-cost"]').val());

	    if (carrier==''){
	    	j$().toastmessage('showErrorToast', 'Please select a shipping method!');
			return false;
		}
	    if (tracking==''){
	    	j$().toastmessage('showErrorToast', 'Please enter the primary tracking number!');
			return false;
		}
	    if (package==''){
	    	j$().toastmessage('showErrorToast', 'Please enter the number of packages in this shipment!');
			return false;
		}
		/*
	    if (cost==''){
	    	j$().toastmessage('showErrorToast', 'Please enter the shipping cost!');
			return false;
		}

	    if (shipping_date==''){
	    	j$().toastmessage('showErrorToast', 'Please enter the shipping date!');
			return false;
		}
		*/

   		return true;
   	}    

    j$(document).ready(function(){
    	// disable all inputs
    	// now, based on conditions, we will enable certain inputs
    	j$('input[type="number"]').prop('disabled', true);
    	
    	{% if cart.can_change_fill(me.key) %}
    		j$('input[type="number"]').prop('disabled', false);
    	{% endif %}
    	j$('input[item="client-price"]').prop('disabled',false);
    	
    	// cart has been approved
    	// not allowing changing qty,price anymore
    	// but can start inputting shipping
    	{% if cart.can_change_shipping(me.key) %}
    		j$('input[name^="shipping"]').prop('disabled', false);
    	{% endif %}
    		
		// remove item from cart
		j$(document).on('click','.command-link[item="buyorder-fill-remove"]',function(){
			// call Server to remove this FillOrder from Cart
			var id=j$(this).attr('itemId');
			var tr=j$(this).closest('tr');			

			j$.post(
				'{{ url }}?cart={{ cart.key.id() }}',
				{'cart':{{cart.key.id()}},'action':'remove','id':id,'kind':'BuyOrderFill'},
				function(result){
					switch(result){
						case '0': // success
							j$().toastmessage('showNoticeToast', "Item has been removed from your cart");
							tr.fadeOut(500,function(){
								j$(this).remove();
							});
							
							// if this is the last row, we now have an empty cart
							// redirect to browse page
							//window.location.href = "/buyorder/browse";
							break;
						default:
							break;
					}
				}
			);			
		});
				
		// change client price		
		j$(document).on('change','input[item="client-price"]',function(){
			var id=j$(this).attr('itemId');
			var newVal=j$(this).val();
			
			j$.post(
				'{{ url }}?cart={{ cart.key.id() }}&owner={{ cart.terminal_seller.id() }}',
				{'cart':{{cart.key.id()}},'action':'update client price','id':id,'kind':'BuyOrderFill','price':newVal},
				function(result){
					switch(result){
						case '0': // success
							j$().toastmessage('showNoticeToast', "New price of "+newVal+' has been received');
							break;
						default:
							break;
					}
				}
			);			
		});

		// update qty and price
		j$(document).on('change','input[item="fill-qty"]',function(){
			var id=j$(this).attr('itemId');
			var newVal=j$(this).val();
			j$.post(
				'{{ url }}?cart={{ cart.key.id() }}',
				{'cart':{{cart.key.id()}},'action':'update fill qty','id':id,'kind':'BuyOrderFill','qty':newVal},
				function(result){
					switch(result){
						case '0': // success
							j$().toastmessage('showNoticeToast', "New quantity of "+newVal+' has been received');
							break;
						default:
							break;
					}
				}
			);			
		});
		j$(document).on('change','input[item="fill-price"]',function(){
			var id=j$(this).attr('itemId');
			var newVal=j$(this).val();
			j$.post(
				'{{ url }}?cart={{ cart.key.id() }}',
				{'cart':{{cart.key.id()}},'action':'update fill price','id':id,'kind':'BuyOrderFill','price':newVal},
				function(result){
					switch(result){
						case '0': // success
							j$().toastmessage('showNoticeToast', "New price of "+newVal+' has been received');
							break;
						default:
							break;
					}
				}
			);			
		});
		
		// approval process
		j$(document).on('click','button[item="approval-process"]',function(){
			var action=j$(this).html();
			j$.post(
				'/cart/approve/{{ cart.owner.id() }}/{{ cart.key.id() }}/',
				{'action':action},
				function(result){
					j$().toastmessage('showNoticeToast','Cart status has been updated');
					
					// reload this page
					//setTimeout(function() {  
					//	window.location.reload();
						//window.history.go(-1);
					//}, 3000)
					
				}
			);			
		});

		// sophisticated shipping process
		j$(document).on('click','button[item="shipping-process"]',function(){
			var action=j$(this).html();
			var data={'action':action};
			
			// data validation
			switch(action){
				// set to in route
				case 'In Route':
	    			var shipping_date=j$.trim(j$('input[name="shipping-date"]').val());
					if (shipping_date==''){
						j$().toastmessage('showErrorToast','Shipping date is required');
						return;
					}else{
						data['shipping date']=shipping_date;
					}
					break;
					
				// set to delivery confirmed	
				case 'Delivery Confirmed':
				case 'Destination Reconciled':
					break;
					
				case 'Dispute Shipping':
					data['action']='In Dispute';
					break;
				
			} // end of switch

			j$.post(
				'/cart/shipping/process/{{ cart.owner.id() }}/{{ cart.key.id() }}/',
				data,
				function(result){
					switch(action){
						case 'In Route':
							j$().toastmessage('showSuccessToast','Shipping is set to In Route on '+shipping_date);
							break;
						case 'Delivery Confirmed':
							j$().toastmessage('showSuccessToast','Shipping delivery has been confirmed');
							break;
						case 'Destination Reconciled':
							j$().toastmessage('showSuccessToast','Shipping has been reconciled by receiver');
							break;
						case 'In Dispute':
							j$().toastmessage('showSuccessToast','Shipping has been put in dispute');
							break;
					}
					
					// reload this page
					//setTimeout(function() {  
					//	window.location.reload();
					//}, 3000)
				}
			);	
		});
								
		// full screen switch
		j$('#full-screen-switch-1').on('click',function(){
			j$('.arrow_box').fadeIn(500);	
			j$(this).toggle();
			j$('#full-screen-switch-2').toggle();
		});
		j$('#full-screen-switch-2').on('click',function(){
			j$('.arrow_box').fadeOut(500);	
			j$(this).toggle();
			j$('#full-screen-switch-1').toggle();	
		});
	    
	    // shopping cart animation
	    j$('#shopping-cart-collapse-switch').on('click',function(){
	    	j$(this).parents('div.shopping-cart-pane').slideToggle(600,function(){
	    		j$('#shopping-cart-visible-switch').fadeIn(400);
	    	});
	    	
	    });
	    j$('#shopping-cart-visible-switch').on('click',function(){
	    	j$(this).hide();
	    	j$(this).siblings('div.shopping-cart-pane').slideToggle(600);
	    });

		// level 1 navigation
		j$('#nav-order').addClass('level-1-navigation-selected');
			    
	    // level 2 navigation
	    j$('.level-2-navigation').show();
	    j$('#nav-cart-review').addClass('level-2-navigation-selected');
	    
	    // update shipping info
    	// bind 'myForm' and provide a simple callback function 
    	var options={
    		dataType: 'json',
    		beforeSubmit: showRequest,
    		success: showResponse
    	};
    	j$('#myForm').keydown(function(e) {
    	  	return e.which !== 13;
    	}).ajaxForm(options,function() { 
    		j$().toastmessage('showNoticeToast',"Shipment information has been saved"); 
    	});
    	
    	// delete payout
    	j$(document).on('click','span[item="delete-payout"]',function(){
    		var id=j$(this).attr('itemId');
    		
    		j$.post(
    			'/bankslip/delete/'+id+'/',
    			function(result){
    				j$().toastmessage('showSuccessToast','Payment deleted');
    				j$(this).parents('tr:first').remove();
    			}
    		);
    	});
    });
</script>
{% endblock %}

{% block main %}
    <h1 class="ariel-blue">Review Your Shopping Cart and Place Order</h1>
    <p class="ariel-blue ariel-p">
    	Review items in your shopping cart and submit. You can monitor the status of your orders
    	at any time.
    </p>

	{% if cart and cart.can_view(me.key) %}        	
		{% if cart.fills|length > 0 %}

		<!-- command buttons -->
		<div>
			<!-- approval buttons -->
			{% if cart.can_enter_approval(me.key) %}
				<button class="my-button" item="approval-process">Submit for Approval</button>
			{% endif %}
			
			{% if cart.can_approve(me.key) %}
				<button class="my-button" item="approval-process">Approve</button>
				<button class="my-button" item="approval-process">Reject</button>
			{% endif %}
			
			<!-- seller reconcile -->
			{% if cart.can_seller_reconcile(me.key) %}
				<button class="my-button" item="approval-process">Seller Reconcile</button>			
			{% endif %}

			<!-- shipping status buttons -->
			{% if cart.can_enter_shipping_in_route(me.key) %}
			<div class="my-button">
				<button item="shipping-process">In Route</button> 
				Shipping Date: <input type="date" name="shipping-date" id="input-shipping-date"/>
			</div>
			{% endif %}
			
			{% if cart.can_confirm_shipping_delivery(me.key) %}
				<button class="my-button" item="shipping-process">Delivery Confirmed</button>							
			{% endif %}
			
			{% if cart.can_reconcile_destination(me.key) %}
				<button class="my-button" item="shipping-process">Destination Reconciled</button>			
			{% endif %}
			
			{% if cart.can_dispute_shipping(me.key) %}
				<button class="my-button" item="shipping-process">Dispute Shipping</button>			
			{% endif %}

		</div>
	
		{#
			Shipping inputs are available after approval, and for DOC who is also the broker of this cart
			meaning he is the posting buyer of these items
		#}
		{% if cart.can_change_shipping(me.key) %}
		<div class="shopping-cart-pane" style="display:none;" itemId="{{ cart.key.id() }}">
			<span id="shopping-cart-collapse-switch" title="Click to collapse cart view" style="text-decoration:underline;float:right;">
				Close
			</span>
			
			<!--form id="myForm" action="/cart/shipping/{{ cart.key.id() }}/" method="post" enctype="multipart/form-data"-->
			<form id="myForm" action="{{ shipping_form_url }}" method="post" enctype="multipart/form-data">
			<h4>Enter Shipping Information</h4>		
			<table class="two-col-table">
				<tr><td>
						<label class="ss-label">Shipping Method</label>
						<br />
						<select name="shipping-carrier">
							{% for s in shipping_methods %}
								<option value="{{ s }}">{{ s }}</option>
							{% endfor %}
						</select>
					</td>
					<td>				
						<label class="ss-label">Shipping Label File</label>
						<input type="file" name="shipping-label" id="input-shipping-label-file" />
					</td>
				</tr>
					
				<tr><td colspan="2">
					<label class="ss-label">Tracking Number</label>
					<br />
					<input type="text" name="shipping-tracking" id="input-tracking-number" value="{{ cart.shipping_tracking_number }}" />
					</td>
				</tr>
					
				<tr><td>
						<label class="ss-label">Number of Packages</label>
						<br />
						<input type="number" name="shipping-package" id="input-number-of-package" placeholder="1"
						value="{{ cart.shipping_num_of_package }}"/>					
					</td>
					<td>
						<label class="ss-label">Cost</label>
						<br />
						<input type="number" name="shipping-cost" step="any" placeholder="0.0" value="{{ cart.shipping_cost }}"/>
					</td>
				</tr>
			</table>		
			
			<button class="my-button" id="btn-create-shipping">Save Shipment</button>
		
			</form>
		</div>
		<div id="shopping-cart-visible-switch">Enter a shipping label &nbsp;</div>
		{% endif %}
		
		<div class="quick-pane" id="sec-summary">
		<h4>Cart Summary</h4>
		<table class="sf-table table-row-border">
			<tr><td>Cart Name</td>
				<td>Cart# {{ cart.key.id() }}</td>
				<td>Created Date</td>
				<td>{{ cart.created_time }}</td>
			</tr><tr>
				<td>Buyer Name</td>
				<td>
					{% if cart.broker %}
						{{ cart.broker.get().nickname }}
					{% endif %}
				</td>
				<td>Seller Name</td>
				<td>{{ cart.terminal_seller.get().nickname }}</td>
			</tr>
			<tr><td>Status</td>
				<td>{{ cart.status }}</td>
				<td>Shipping Status</td>
				<td>{{ cart.shipping_status }}</td>
			</tr><tr>
				<td>Buyer Reconciled</td>
				<td>{{ cart.buyer_reconciled }}</td>
				<td>Seller Reconciled</td>
				<td>{{ cart.seller_reconciled }}</td>
			</tr>
		</table>
		</div>					
		
		{% if cart.shipping_status %}
		<div class="quick-pane" id="sec-shipping-summary">
		<h4>Shipping Details</h4>
		<table class="sf-table table-row-border">
			<tr><td>Carrier</td>
				<td>{{ cart.shipping_carrier }}</td>
				<td>Tracking Number</td>
				<td>{{ cart.shipping_tracking_number }}</td>
			</tr>
			<tr><td>Shipped Date</td>
				<td>{{ cart.shipping_date }}</td>
				<td>No. of Packages</td>
				<td>{{ cart.shipping_num_of_package }}</td>
			</tr>
			
			<!-- broker only view -->
			{% if me.key==cart.broker %}
			<tr><td>Shipping Status</td>
				<td>{{ cart.shipping_status }}</td>
				<td>Shipping Cost</td>
				<td>{{ cart.shipping_cost }}</td>
			</tr>
			{% endif %}
			
			<tr><td>Last Modified Date</td>
				<td>{{ cart.shipping_created_date }}</td>
				<td>Shipping Label</td>
				<td>
					{% if shipping_label %}
						<a href="{{ shipping_label }}">Download</a>
					{% endif %}
				</td>
			</tr>
		</table>
		</div>	
		{% endif %}
		
		<!-- DOC only views -->
		{% if me.can_be_doc() and me.key==cart.broker %}
			<div class="quick-pane" sec="sec-accounting">
			<h4>Accounting</h4>
			<table class="sf-table table-row-border">
				<tr><td>Total Payable</td>
					<td>{{ cart.payable }}</td>
					<td>Total Receivable</td>
					<td>{{ cart.receivable }}</td>
				</tr>
				<tr><td>Bank Withdraw</td>
					<td>{{ cart.payout }}</td>
					<td>Bank Deposit</td>
					<td>{{ cart.payin }}</td>
				</tr>
				<tr>
					<td>Payable Balance</td>
					<td>{{ cart.payable_balance }}</td>
					<td>Receivable</td>
					<td>{{ cart.receivable_balance }}</td>
				</tr>
				<tr><td>Expected Profit</td>
					<td>{{ cart.profit }}</td>
					<td>Expected Gross Margin</td>
					<td>{{ cart.gross_margin}}%</td>
				</tr>
				<tr><td>Realized Profit</td>
					<td>{{ cart.realized_profit }}</td>
					<td>Realized Gross Margin</td>
					<td>{{ cart.realized_gross_margin }}</td>
				</tr>
			</table>
			</div>	
		
			<div class="quick-pane">
			<h4>Assign Client</h4>
			{% if cart.terminal_buyer %}
			<table class="sf-table table-row-border">
				<tr><td>Shipping Address</td>
					<td>{{ cart.terminal_buyer.get().shipping_address }}</td>
					<td>Email</td>
					<td>{{ cart.terminal_buyer.get().email }}</td>
				</tr>
			</table>
			{% endif %}
			</div>
		{% endif %}
		
		<div class="quick-pane" id="sec-fill-list">
		<h4>Item Details</h4>
		{% if cart.fills|count >0 %}
			
			{# 
				sell price is only available to brokers 
			#}
			{% if me.key==cart.broker %}
				<span id="full-screen-switch-1" class="collapse-switch">&gt;&gt; Show sell price</span>
				<span id="full-screen-switch-2" class="collapse-switch">&lt;&lt; Hide sell price</span>
			{% endif %}
			
			<table class="table-row-border" width="100%">
				{% for f in cart.fills %}
				<tr><td>
						<a href="/buyorder/browse/{{ f.order.id() }}/">
						<img src="{{ f.order.get().image }}" style="height:50px;padding:10px;max-width:50px;" class="box-shadow"/>
						</a>
					</td>
					<td>
						<h4>
						{{ f.order.get().name|title }}
						</h4>
						{{ f.order.get().description }}
					</td>
					<td>
						{#
							editing is only available to open cart and rejected cart
						#}
						{% if cart.can_change_fill(me.key) %}
							<input type="number" item="fill-price" itemId="{{ f.order.id() }}" value="{{ f.price }}" step="any"/>	
						{% else %}
							{{ f.price }}
						{% endif %}
						
						{#
							sell price inputs are only available to brokers
						#}
						{% if me.key==cart.broker %}
						<div class="arrow_box" style="display:none;">
							<label>Sell price: </label>
							<input type="number" item="client-price" itemId="{{ f.order.id() }}" value="{{ f.client_price }}" step="any"/>	
						</div>
						{% endif %}
						
					</td>
					<td>
						{#
							editing is only available to open cart and rejected cart
						#}
						{% if cart.can_change_fill(me.key) %}
							<input type="number" item="fill-qty" itemId="{{ f.order.id() }}" value="{{ f.qty }}" step="any"/>	
						{% else %}
							{{ f.qty }}
						{% endif %}
					</td>
					<td>
						{% if cart.can_change_fill(me.key) %}
							<span class="command-link" itemId="{{ f.order.id() }}" item="buyorder-fill-remove">Remove</span>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</table>
		{% endif %}
		</div>

		{% if cart.payout_slips|count>0 or cart.payin_slips|count>0 %}
					
			<div class="quick-pane" id="sec-payment">
			<h4>Payments</h4>
			<table class="two-col-table" style="width:100%;">
			<tr>
			<!-- seller only view -->
			{% if cart.terminal_seller==me.key or cart.broker==me.key %}
				{% if cart.payout_slips %}
				<td>
					<table class="table-row-border" style="">
					<caption class="table-caption">Pay For This Deal</caption>
					<thead>
						<tr><td>Transaction Created On</td>
							<td>Amount</td>
							<td>Recorded By</td>
							{% if cart.can_delete_payout(me.key) %}
							<td></td>
							{% endif %}
						</tr>
					</thead>
					<tbody>		
					{% for s in cart.payout_slips %}
						<tr><td>{{ s.get().created_time }}</td>
							<td>{{ s.get().amount }}</td>
							<td>{{ s.get().last_modified_by.get().nickname }}</td>
							{% if cart.can_delete_payout(me.key) %}
							<td>
								<span item="delete-payout" itemId="{{ s.id() }}" class="command-link">
								Delete
								</span>
							</td>
							{% endif %}
						</tr>
					{% endfor %}
					</tbody>
					</table>
				</td>
				{% endif %}
			{% endif %}
	
			<!-- doc only view -->		
			{% if cart.broker==me.key %}
				{% if cart.payin_slips %}
				<td>
					<table class="table-row-border" style="">
					<caption class="table-caption">Earn From This Deal</caption>
					<thead>
						<tr><td>Transaction Created On</td>
							<td>Amount</td>
							<td>Recorded By</td>
							{% if cart.can_delete_payout(me.key) %}
							<td></td>
							{% endif %}
						</tr>
					</thead>
					<tbody>		
					{% for s in cart.payin_slips %}
						<tr><td>{{ s.get().created_time }}</td>
							<td>{{ s.get().amount }}</td>
							<td>{{ s.get().last_modified_by.get().nickname }}</td>
							{% if cart.can_delete_payout(me.key) %}
							<td>
								<span item="delete-payout" itemId="{{ s.id() }}" class="command-link">
								Delete
								</span>
							</td>
							{% endif %}
						</tr>
					{% endfor %}
					</tbody>
					</table>
				{% endif %}
				</td>
			{% endif %}
			</tr></table>
			</div>
		{%endif %}
				
		{% else %}
			<h4>Your cart is empty. <a href="/buyorder/browse">Go shopping</a>!</h4>
	
		{% endif %}
		
	{% else %}
		Sorry, you do not have access this cart. Why not <a href="/buyorder/browse">Go Shopping</a>!
	{% endif %}
	
	{% if auditing%}
	<div class="quick-pane">
		<h4>Audit</h4>
		<table class="table-row-border">
			<thead>
				<tr><td>When</td>
					<td>By Whom</td>
					<td>Field</td>
					<td>Old</td>
					<td>New</td>
				</tr>
			</thead>
			<tbody>
				{% for a in auditing %}
				<tr><td>{{ a.created_time }}</td>
					<td>
						{% if a.owner == me.key %}
						me
						{% else %}
							{{ a.owner.get().nickname }}
						{% endif %}
					</td>
					<td>{{ a.field_name }}</td>
					<td>{{ a.old_value }}</td>
					<td>{{ a.new_value }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>	
	</div>
	{% endif %}
		
{% endblock %}
