{% extends "/template/base.html" %}

{% block customJS %}
<script type="text/javascript">
    j$(document).ready(function(){
    	// get rid of stock btn class
    	j$('input').removeClass('btn');
    
    	j$('input[type="number"]').prop('disabled', true);
    	
    	switch('{!thisCart.cart.Status__c}'){
    		case 'Open':
    		case 'Rejected':
    			j$('input[type="number"]').prop('disabled', false);
    			break;
    		default:
    			j$('button[item="remove-btn"]').remove();
    			break;
    	}
    	
    	switch ("{!IF(thisCart.isInternalUser,true,false)}"){
    		case 'true':
    			j$('input[type="number"]').prop('disabled', false);
    			break;    			
    	}
		    
		// remove item from cart
		j$('button[item="remove-btn"]').on('click',function(){
			// call Server to remove this FillOrder from Cart
			var id=j$(this).attr('itemId');
		
			myBuyOrderExtension.deleteOrderFill(id,function(result,success){
				if (success){
					j$().toastmessage('showNoticeToast', "Item has been removed from this order.");
					dummy();
				}else{
					console.log('error');
				}
		    },{escape:true}); 
		});
				
		// update qty and price
		j$('input[item="bid-qty"]').on('change',function(){
			var fillId=j$(this).attr('itemId');
			var newVal=j$(this).val();
			myBuyOrderExtension.updateFillQty(fillId,newVal,function(result,success){
				if (success){
					// notification
					j$().toastmessage('showNoticeToast', "New quantity of "+newVal+' has been received');
					dummy2();
				}else{
					console.log('error');
				}
		    },{escape:true}); 				
		});
		
		j$('input[item="bid-price"]').on('change',function(){
			var fillId=j$(this).attr('itemId');
			var newVal=j$(this).val();
			myBuyOrderExtension.updateFillPrice(fillId,newVal,function(result,success){
				if (success){
					// notification
					j$().toastmessage('showNoticeToast', "New price of "+newVal+' has been received');
					dummy2();
				}else{
					console.log('error');
				}
		    },{escape:true}); 				
		});
		
		j$('input[item="client-price"]').on('change',function(){
			var fillId=j$(this).attr('itemId');
			var newVal=j$(this).val();
			myBuyOrderExtension.updateFillClientPrice(fillId,newVal,function(result,success){
				if (success){
					// notification
					j$().toastmessage('showNoticeToast', "New client price of "+newVal+' has been received');
					dummy2();
				}else{
					console.log('error');
				}
		    },{escape:true}); 				
		});
				
		// assign client
		j$("select#select-client").val('{!thisCart.cart.Client__c}');	
		j$('select#select-client').on('change',function(){
			var clientId=j$(this).val();
			var cartId=j$(this).attr('itemId');
			myBuyOrderExtension.assignClientToCart(cartId,clientId,function(result,success){
				if (success){
					// notification
					j$().toastmessage('showNoticeToast', 'Client assignment has changed');
					dummy3();
				}else{
					console.log('error');
				}
		    },{escape:true}); 				
		});	
		
		// full screen switch
		j$('#full-screen-switch-1').on('click',function(){
			j$('.arrow_box').fadeIn(500);	
			j$(this).toggle();
			j$('#full-screen-switch-2').toggle();
		});
		j$('#full-screen-switch-2').on('click',function(){
			j$('.arrow_box').fadeOut(500);	
			j$(this).toggle();
			j$('#full-screen-switch-1').toggle();	
		});
	    
	    // shopping cart animation
	    j$('#shopping-cart-collapse-switch').on('click',function(){
	    	j$(this).parents('div.top-header-pane').slideToggle(600,function(){
	    		j$('#shopping-cart-visible-switch').fadeIn(400);
	    	});
	    	
	    });
	    j$('#shopping-cart-visible-switch').on('click',function(){
	    	j$(this).hide();
	    	j$(this).siblings('div.top-header-pane').slideToggle(600);
	    });				
    });
</script>
{% endblock %}

{% block main %}
<style>
input{
	border:1px #EEEEE0 solid;
    background-color:none;
    padding: 5px;
    max-width:70%;
}
.ariel-table select{
    background-color:#ebebeb;
    border:1px solid #00bec6; 
    width: 385px;
    height: 40px;
    border-radius: 4px;
    webkit-border-radius: 4px;
    moz-border-radius:4px;
    padding: 10px 0 10px 10px;
    line-height:1;
}

.top-header-pane{
    background: #FFEC8B; /* Old browsers */
    position:fixed;
    top:50px;
    right:0;
    border-radius: 0 0 10px 10px;
    border: 1px white solid; 
    padding: 10px;
    z-index:999;
}h

.sf-table{
	border-collapse: collapse;
	border:none;
	margin-left:auto;
	margin-right:auto;
}
.sf-table td{
	border-bottom:1px solid #beceee;
	width:200px;
	padding:0 20px;
}
.sf-table td:nth-child(2n) {
	text-align:left;
}
.sf-table td:nth-child(2n+1) {
    /*border-bottom: none;*/
	font-weight:bold;
	text-align:right;
}

</style>

	<div>
	<button class="my-button">Submit for Approval</button>
	<button class="my-button">Approve</button>
	<button class="my-button">Reject</button>
	</div>
	
	{#
	<apex:form id="command-button">
		<apex:commandButton value="Submit for Approval" action="{!submitCartApproval}" styleClass="my-button" rendered="{!thisCart.canSubmitApproval}"/>
		<apex:commandButton value="Approve" action="{!approveCart}" styleClass="my-button" rendered="{!thisCart.canApproveReject}" />
		<apex:commandButton value="Reject" action="{!rejectCart}" styleClass="my-button" rendered="{!thisCart.canApproveReject}" />
	</apex:form>
	#}
	
	<div class="top-header-pane" style="display:none;">
		<span id="shopping-cart-collapse-switch" title="Click to collapse cart view" style="text-decoration:underline;float:right;">
			Close
		</span>		
		<table class="ariel-table">
		<tr><td>
			Select a carrier
		</td><td>
			<select>
				<opton value="this">this</option>
				<opton value="that">that</option>
			</select>

		</td></tr>
		
		<tr><td>
			Enter tracking number
		</td><td>
			<input type="text" id="input-tracking-number" placeholder="eg. a random number"/>
		</td></tr>
		
		<tr><td>
			Enter number of packages
		</td><td>
			<input type="number" id="input-number-of-package" placeholder="eg. 5"/>
		</td></tr>
		
		<tr><td>
			Upload shipping label file
		</td><td>
			<input type="file" id="input-shipping-label-file" />
		</td></tr>
		
		<tr><td>
			Enter shipping cost
		</td><td>
			<input type="number" step="any" placeholder=""/>
		</td></tr>
		</table>
		Please verify the shipment information and click the "Create Shipment" button below.
		Shiping label file will be emailed to all buyers and sellers.
		<button class="my-button">Create Shipment</button>
	</div>   
	<div id="shopping-cart-visible-switch">Enter a shipping label &nbsp;</div>
	
	<div class="quick-pane">
	<h3>Fill Order Summary</h3>
	<table class="sf-table">
		<tr><td>Cart Name</td>
			<td>Cart# {{ cart.key.id() }}</td>
			<td>Created Date</td>
			<td>{{ cart.created_time }}</td>
		</tr><tr>
			<td>Buyer Name</td>
			<td>
				{% if cart.broker %}
					{{ cart.broker.get().nickname }}
				{% endif %}
			</td>
			<td>Seller Name</td>
			<td>{{ cart.terminal_seller.get().nickname }}</td>
		</tr>
	</table>
	</div>					
	
	<div class="quick-pane">
	<h3>Status</h3>
	<table class="sf-table">
		<tr><td>Status</td>
			<td>{{ cart.status }}</td>
			<td>Shipping Status</td>
			<td>{{ cart.shipping_status }}</td>
		</tr><tr>
			<td>Buyer Reconciled</td>
			<td>{{ cart.buyer_reconciled }}</td>
			<td>Seller Reconciled</td>
			<td>{{ cart.seller_reconciled }}</td>
		</tr>
	</table>
	</div>
	
	<div class="quick-pane">
	<h3>Profit</h3>
	<table class="sf-table">
		<tr><td>Expected Profit</td>
			<td>{{ cart.profit }}</td>
			<td>Expected Gross Margin</td>
			<td>{{ cart.gross_margin}}%</td>
		</tr>
		<tr><td>Realized Profit</td>
			<td>{{ cart.realized_profit }}</td>
			<td>Realized Gross Margin</td>
			<td>{{ cart.realized_gross_margin }}</td>
		</tr>
	</table>
	</div>

	<div class="quick-pane">
	<h3>Accounting</h3>
	<table class="sf-table">
		<tr><td>Total Payable</td>
			<td>{{ cart.payable }}</td>
			<td>Total Receivable</td>
			<td>{{ cart.receivable }}</td>
		</tr>
		<tr><td>Bank Withdraw</td>
			<td>{{ cart.payout }}</td>
			<td>Bank Deposit</td>
			<td>{{ cart.payin }}</td>
		</tr>
		<tr>
			<td>Payable Balance</td>
			<td>{{ cart.payable_balance }}</td>
			<td>Receivable</td>
			<td>{{ cart.receivable_balance }}</td>
		</tr>
	</table>
	</div>	

	<div class="quick-pane">
	<h3>Assign Client</h3>
	{% if cart.terminal_buyer %}
	<table class="sf-table">
		<tr><td>Shipping Address</td>
			<td>{{ cart.terminal_buyer.get().shipping_address }}</td>
			<td>Email</td>
			<td>{{ cart.terminal_buyer.get().email }}</td>
		</tr>
	</table>
	{% endif %}
	</div>

	<div class="quick-pane">
	<h3>Fill Order Details</h3>
	{% if cart.fills %}
		<span id="full-screen-switch-1" class="collapse-switch">&gt;&gt; Show sell price</span>
		<span id="full-screen-switch-2" class="collapse-switch">&lt;&lt; Hide sell price</span>
		<table class="sf-table">
			{% for f in cart.fills %}
			<tr><td><img src="{{ f.order.get().image }}" style="height:50px;padding:10px;" class="box-shadow"/></td>
				<td>
					{{ f.order.get().name }}
					<blockquote>
					{{ f.order.get().description }}
					</blockquote>
				</td>
				<td>{{ f.price }}
					<div class="arrow_box" style="display:none;">
						<label>Sell price: </label>
						<input type="number" item="client-price" itemId="" value="" step="any"/>	
					</div>
				</td>
				<td>{{ f.qty }}</td>
			</tr>
			{% endfor %}
		</table>
	{% endif %}
	</div>

	<div class="quick-pane">
	<h3>Shipping Summary</h3>
	<table class="sf-table">
		<tr><td>Created On</td>
			<td>{{ cart.shipping_created_date }}</td>
			<td>Carrier</td>
			<td>{{ cart.shipping_carrier }}</td>
		</tr>
		<tr><td>Tracking Number</td>
			<td>{{ cart.shipping_tracking_number }}</td>
			<td>No. of Packages</td>
			<td>{{ cart.shipping_num_of_package }}</td>
		</tr>
		<tr><td>Shipping Status</td>
			<td>{{ cart.shipping_status }}</td>
			<td>Shipping Cost</td>
			<td>{{ cart.shipping_cost }}</td>
		</tr>
	</table>
	</div>	

	<div class="quick-pane">
	<h3>Payments</h3>
	{% if cart.payout_slips %}
		<table>
		<caption class="table-caption">Pay For This Deal</caption>
		<thead>
			<tr><td>Transaction Created On</td>
				<td>Amount</td>
				<td>Payment Method</td>
			</tr>
		</thead>
		<tbody>		
		{% for s in cart.payout_slips %}
			<tr><td>{{ s.created_time }}</td>
				<td>{{ s.amount }}</td>
				<td>{{ s.billing }}</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
	{% endif %}
	{% if cart.payin_slips %}
		<table>
		<caption class="table-caption">Earn From This Deal</caption>
		<thead>
			<tr><td>Transaction Created On</td>
				<td>Amount</td>
				<td>Payment Method</td>
			</tr>
		</thead>
		<tbody>		
		{% for s in cart.payin_slips %}
			<tr><td>{{ s.created_time }}</td>
				<td>{{ s.amount }}</td>
				<td>{{ s.billing }}</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
	{% endif %}
	</div>
{% endblock %}
